<ion-view view-title="Datos Registro Nacional del Turismo">
  <div class="bar bar-subheader bar-custom item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="text" placeholder="Buscar encuesta..." ng-model="search">
    </label>
    <button class="button button-clear  button-has-search" ng-if="search">
      <i class="ion-close"></i>
      <span>Cancelar</span>
    </button>
  </div>
  <ion-content class="has-subheader">
    <div class="card">   
      <div class="item item-divider situr-header">
        <h2>Datos Registro Nacional del Turismo</h2>
      </div>
      <div class="item" >
        <ion-scroll direction="x" id="scroll-x">
          <div class="row row-table">
            <div class="col col-33">Año</div>
            <div class="col col-75">Tipo</div>
            <div class="col col-75">Destino</div>
            <div class="col col-33">Micro</div>
            <div class="col col-33">Pequeña</div>
            <div class="col col-33">Mediana</div>
            <div class="col col-33">Grande</div>
            <div class="col col-50"></div>

          </div>
          <div class="row row-table-col" ng-repeat="n in [] | range:3">
            <div class="col col-33">{{$index+1}}</div>
            <div class="col col-75">Hotel</div>
            <div class="col col-75">Santa Marta D.T.C.H.</div>
            <div class="col col-33">174</div>
            <div class="col col-33">36</div>
            <div class="col col-33">4</div>
            <div class="col col-33">3</div>
            <div class="col col-50">
              <a class="button button-outline button-stable ripple ripple-green" href="" ng-click="modal.show()"><i class="ion-edit"></i></a>
              <a class="button button-outline button-assertive ripple ripple-green" href="" ng-click="desactivar()"><i class="ion-close"></i></a>
            </div>
          </div>
        </ion-scroll>
      </div> 
    </div> 
  </ion-content>  
  <div class="fixed-action-btn" style="bottom: 0px; right: 0px;">
    <a href="" ng-click="modal2.show()">
      <button class="botonF1 button ripple ripple-light button-balanced animated zoomIn">
        <i class="icon ion-plus"></i>
      </button>
    </a>
  </div> 
</ion-view>
