<ion-view view-title="Encuestas de ...">
  <div class="bar bar-subheader bar-custom item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="text" placeholder="Buscar encuesta..." ng-model="search">
    </label>
    <button class="button button-clear  button-has-search" ng-if="search">
      <i class="ion-close"></i>
      <span>Cancelar</span>
    </button>
  </div>
  <ion-content class="has-subheader">
    <div class="card">   
      <div class="item item-divider situr-header">
        <h2>Encuestas de ...</h2>
      </div>
      <div class="item" >
        <ion-scroll direction="x" id="scroll-x">
          <div class="row row-table">
            <div class="col col-25"></div>
            <div class="col col-75">Proveedor</div>
            <div class="col col-75"></div>
          </div>
          <div class="row row-table-col" ng-repeat="n in [] | range:3">
            <div class="col col-25">{{$index+1}}</div>
            <div class="col col-75">APARTAMENTO 102 ED. TACOA</div>
            <div class="col col-75">
              <a href="#/app/encuestaSitio" class="button">
                <i class="icon ion-clipboard"></i> Ver encuestas
              </a>
            </div>

          </div>
        </ion-scroll>
      </div>      
    </div> 
    <br><br><br>
  </ion-content> 

  <div class="fixed-action-btn" style="bottom: 0px; right: 0px;">
    <a href="#/app/encuestaAdmin">
      <button class="botonF1 button ripple ripple-light button-positive animated zoomIn">
        <i class="icon ion-plus"></i>
      </button>
    </a>
  </div> 
</ion-view>
