<ion-view view-title="Como se enteran los visitantes sobre el departamento del Magdalena">
  <ion-content>
    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required">
        <h2> ¿Antes de venir al departamento del Magdalena, de qué forma usted se enteró de los destinos turísticos visitados?</h2>
      </div>
      <div class="item">
        <ion-checkbox class="ripple ripple-green" ng-model="data.conocia">
          Ya los conocía
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.familiares">
          Amigos y/o familiares
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.internet"> 
          Búsquedas en internet
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.comunicacion">
          Medios de comunicación masiva (prensa, radio, televisión.)
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.agencia">
          Agencia de viajes
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.impresa"> 
          Guía turística impresa
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.twitter">
          Twitter
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.facebook">
          Facebook
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.electronico">
          Correo electrónico
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.avisos">
          Avisos en internet
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.blogs">
          Blogs
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.entidades">
          Entidades que promocionan el turismo.
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.operador">
          Operador turístico
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.otro" ng-checked="otro">
          Otro
        </ion-checkbox>

        <label class="item item-input item-floating-label" >
          <span class="input-label" >Otro</span>
          <input type="text" placeholder="Otro" required ng-model="otro">
        </label>
        <br>
      </div>                      
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required">
        <h2>¿Durante la permanencia en el Magdalena, de qué forma usted buscó más información sobre destinos turísticos?</h2>
      </div>
      <div class="item">

        <ion-checkbox class="ripple ripple-green" ng-model="buscar.familiares" ng-disabled="buscar.ninguna" ng-checked="inf && medios.ninguna">
          Familiares
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="buscar.hotel"  ng-disabled="buscar.ninguna" ng-checked="inf && medios.ninguna">
          Hotel
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="buscar.turistas"  ng-disabled="buscar.ninguna" ng-checked="inf && medios.ninguna">
          Otros turistas
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="buscar.internet"  ng-disabled="buscar.ninguna" ng-checked="inf && medios.ninguna">
          Busqué en internet
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="buscar.redes"  ng-disabled="buscar.ninguna" ng-checked="inf && medios.ninguna">
          Redes sociales
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="buscar.blog"  ng-disabled="buscar.ninguna" ng-checked="inf && medios.ninguna">
          Blog
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="buscar.amigos"  ng-disabled="buscar.ninguna" ng-checked="inf && medios.ninguna">
          Amigos
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="buscar.persona"  ng-disabled="buscar.ninguna" ng-checked="inf && medios.ninguna">
          Guías de turismo (persona)
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="buscar.agencias"  ng-disabled="buscar.ninguna" ng-checked="inf && medios.ninguna">
          Agencias de viajes o agencias operadoras
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="buscar.habitantes"  ng-disabled="buscar.ninguna" ng-checked="inf && medios.ninguna">
          Habitantes de los municipios visitados
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="buscar.impresas"  ng-disabled="buscar.ninguna" ng-checked="inf && medios.ninguna">
          Guías de turismo impresas, revistas
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="buscar.conductores"  ng-disabled="buscar.ninguna" ng-checked="inf && medios.ninguna">
          Conductores de servicio público (De taxi, bus, buseta)
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="buscar.ninguna">
          No busqué más información
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="buscar.otro" ng-checked="b_otro" ng-disabled="buscar.ninguna" ng-checked="inf && medios.ninguna">
          Otro
        </ion-checkbox>

        <label class="item item-input item-floating-label"  >
          <span class="input-label" >Otro</span>
          <input type="text" placeholder="Otro" required ng-model="b_otro" ng-disabled="buscar.ninguna">
        </label>
        <br>
      </div>                      
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required">
        <h2> ¿Después del viaje al Magdalena en qué redes y medios sociales compartió su experiencia de viaje (Comentarios, fotos, etc)?</h2>
      </div>
      <div class="item">
        <ion-checkbox class="ripple ripple-green" ng-model="medios.ninguna">
          Ninguna
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="medios.facebook" ng-disabled="medios.ninguna" ng-checked="inf && medios.ninguna">
          Facebook
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="medios.twitter"  ng-disabled="medios.ninguna" ng-checked="inf && medios.ninguna">
          Twitter
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="medios.linkedin"  ng-disabled="medios.ninguna" ng-checked="inf && medios.ninguna">
          Linkedin
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="medios.pinterest"  ng-disabled="medios.ninguna" ng-checked="inf && medios.ninguna">
          Pinterest
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="medios.tripadvisor"  ng-disabled="medios.ninguna" ng-checked="inf && medios.ninguna">
          TripAdvisor
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="medios.google"  ng-disabled="medios.ninguna" ng-checked="inf && medios.ninguna">
          Google+
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="medios.youtube"  ng-disabled="medios.ninguna" ng-checked="inf && medios.ninguna">
          Youtube
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="medios.flickr"  ng-disabled="medios.ninguna" ng-checked="inf && medios.ninguna">
          Flickr
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="medios.mensajeria"  ng-disabled="medios.ninguna" ng-checked="inf && medios.ninguna">
          Mensajería ( Skype, Whatsapp, messenger)
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="medios.instagram"  ng-disabled="medios.ninguna" ng-checked="inf && medios.ninguna">
          Instagram
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="medios.otro" ng-checked="m_otro" ng-disabled="medios.ninguna" ng-checked="inf && medios.ninguna">
          Otro
        </ion-checkbox>

        <label class="item item-input item-floating-label"  >
          <span class="input-label" >Otro</span>
          <input type="text" placeholder="Otro" required ng-model="m_otro" ng-disabled="medios.ninguna">
        </label>
        <br>
      </div>                      
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required">
        <h2> ¿Le gustaría que le enviáramos información sobre el Magdalena a su correo electrónico?</h2>
      </div>
      <label class="item">               
        <ion-radio ng-value="1" ng-model="info" class="ripple ripple-green" name="info">
          Si
        </ion-radio>

        <ion-radio ng-value="2" ng-model="info" class="ripple ripple-green" name="info">
          No
        </ion-radio>  
      </label>
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required">
        <h2>¿Le gustaría que le enviáramos una invitación por redes sociales para seguir al Magdalena?</h2>
      </div>
      <label class="item">               
        <ion-radio ng-value="1" ng-model="networks" class="ripple ripple-green" name="networks">
          Si
        </ion-radio>

        <ion-radio ng-value="2" ng-model="networks" class="ripple ripple-green" name="networks">
          No
        </ion-radio>  
      </label>
    </div>

    <div class="card animated bounceInUp" ng-if="networks==1">
      <div class="item item-divider situr-header required">
        <h2> ¿Cómo podemos buscarlo en facebook?</h2>
      </div>

      <label class="item item-input item-floating-label">
        <span class="input-label" >Escriba su cuenta de Facebook</span>
        <input type="text" placeholder="Escriba su cuenta de Facebook" required>
      </label>
      <br>
    </div>

    <div class="card animated bounceInUp" ng-if="networks==1">
      <div class="item item-divider situr-header required">
        <h2> ¿Cómo podemos buscarlo en Twitter?</h2>
      </div>

      <label class="item item-input item-floating-label">
        <span class="input-label" >Escriba su cuenta de Twitter</span>
        <input type="text" placeholder="Escriba su cuenta de Twitter" required>
      </label>
      <br>
    </div>
    <br><br><br>
  </ion-content>

  <div class="popup-menu">
    <div class="popup-menu-overlay" ng-class="{'in': menu_is_open}" ng-click="togglePopupMenu()"></div>
    <i class="ion ion-grid popup-menu-toggle" ng-click="togglePopupMenu()" ng-class="{'out': menu_is_open}"></i>
    <div class="popup-menu-panel" ng-class="{'in': menu_is_open}">
      <a class="popup-menu-item ripple ripple-green" href="#/app/general" ng-click="togglePopupMenu()">
        <i class="ion ion-information-circled"></i>
        <span>General</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/estancia" ng-click="togglePopupMenu()">
        <i class="ion ion-clock"></i>
        <span>Estancia</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/transporte" ng-click="togglePopupMenu()">
        <i class="ion ion-model-s"></i>
        <span>Transporte</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/grupo" ng-click="togglePopupMenu()">
        <i class="ion ion-ios-people"></i>
        <span>Grupo</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/gastos" ng-click="togglePopupMenu()">
        <i class="ion-cash"></i>
        <span>Gastos</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/percepcion" ng-click="togglePopupMenu()">
        <i class="ion ion-person-add"></i>
        <span>Percepción</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/enteran" ng-click="togglePopupMenu();">
        <i class="ion ion-speakerphone"></i>
        <span>Redes e internet</span>
      </a>
    </div>
  </div>

  <div class="progress-container">
    <round-progress
    max="100"
    current="100"
    color="#16469e"
    bgcolor="#c9cdff"
    radius="10"
    stroke="1"
    semi="false"
    rounded="false"
    clockwise="true"
    responsive="true"
    duration="800"
    animation="easeInOutQuart"
    animation-delay="2">

    </round-progress>
    <div class="progress-text">

      <span class="progress-percent">100%</span>
    </div>
  </div>

</ion-view>
