<ion-view view-title="Información general">
  <ion-content>
    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required">
        <h2>Grupo de Viaje</h2>
      </div>

      <!--<label class = "item item-input item-select ripple ripple-green" >

        <div class = "input-label">
          Elegir grupo
        </div>

        <select >
          <option selected disabled value="">Elegir</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </label>-->
      <button 
        class="item item-input item-select ripple ripple-green item-select-block" 
        modal-select 
        ng-model="someModel" 
        options="selectables" 
        modal-title="Elegir grupo" 
        has-search="true" 
        header-footer-class="bar-custom" 
        cancel-search-button='X' 
        search-placeholder="Buscar..." 
        cancel-button="Cancelar" 
        reset-button="Limpiar" >
        Grupo: {{someModel}}
        <div class="option ripple ripple-green">
            {{option}}
        </div>  
      </button>        	
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required">
        <h2>Encuestador</h2>
      </div>

      <!--<label class = "item item-input item-select ripple ripple-green" >

        <div class = "input-label">
          Elegir encuestador
        </div>

        <select >
          <option selected disabled value="">Elegir</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </label>-->
      <button 
        class="item item-input item-select ripple ripple-green item-select-block" 
        modal-select 
        ng-model="someModel" 
        options="selectables" 
        modal-title="Elegir grupo" 
        has-search="true" 
        header-footer-class="bar-custom" 
        cancel-search-button='X' 
        search-placeholder="Buscar..." 
        cancel-button="Cancelar" 
        reset-button="Limpiar" >
        Encuestador: {{someModel}}
        <div class="option ripple ripple-green">
            {{option}}
        </div>  
      </button>        	
    </div>


    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required">
        <h2>Fecha de viaje</h2>
      </div>
      <div class="row">
        <div class="item col-50 dates">
          <label class="input-label">Fecha de llegada</label>
          <div class="item date ripple ripple-green" ion-datetime-picker date ng-model="llegada">
            {{llegada| date: "yyyy-MM-dd" }}
          </div>
        </div>
        <div class="item col-50 dates">
          <label class="input-label">Fecha de salida</label>
          <div class="item date ripple ripple-green" ion-datetime-picker date ng-model="salida">
            {{salida| date: "yyyy-MM-dd" }}
          </div>
        </div>
      </div>
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required">
        <h2>Información del encuestado</h2>
      </div>
      
        <label class="item item-input item-floating-label">
          <span class="input-label" >Nombre del encuestado</span>
          <input type="text" placeholder="Nombre del encuestado" required>
        </label>

        <div>
          <label class="item item-input item-floating-label column-50">
            <span class="input-label" >Email</span>
            <input type="Email" placeholder="Email" required  >
          </label>

          <label class="item item-input item-floating-label column-50">
            <span class="input-label" >Edad</span>
            <input type="number" placeholder="Edad" required >
          </label>
        </div>

        <label class="item">
          <span class="input-label" >Sexo</span>

          <ion-radio ng-value="M" ng-model="sexo" class="ripple ripple-green genero" name="sexo">M</ion-radio>
          <ion-radio ng-value="F" ng-model="sexo" class="ripple ripple-green genero" name="sexo">F</ion-radio>         
        </label>

        <div>
          <label class="item item-input item-floating-label column-50">
            <span class="input-label" >Celular</span>
            <input type="number" placeholder="Celular" required >
          </label>

          <label class="item item-input item-floating-label column-50">
            <span class="input-label" >Télefono</span>
            <input type="number" placeholder="Télefono" required >
          </label>
        </div>

        <button 
          class="item item-input item-select ripple ripple-green item-select-block" 
          modal-select 
          ng-model="someModel" 
          options="selectables" 
          modal-title="Elegir grupo" 
          has-search="true" 
          header-footer-class="bar-custom" 
          cancel-search-button='X' 
          search-placeholder="Buscar..." 
          cancel-button="Cancelar" 
          reset-button="Limpiar" >
          ¿En dónde nació?: {{someModel}}
          <div class="option ripple ripple-green">
              {{option}}
          </div>  
        </button>

        <!--<label class = "item item-input item-select ripple ripple-green">

          <div class = "input-label">
            ¿En dónde nació?
          </div>

          <select  >
            <option selected disabled value="">Elegir</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </label>-->

        <button 
          class="item item-input item-select ripple ripple-green item-select-block" 
          modal-select 
          ng-model="someModel" 
          options="selectables" 
          modal-title="Elegir grupo" 
          has-search="true" 
          header-footer-class="bar-custom" 
          cancel-search-button='X' 
          search-placeholder="Buscar..." 
          cancel-button="Cancelar" 
          reset-button="Limpiar" >
          País de residencia: {{someModel}}
          <div class="option ripple ripple-green">
              {{option}}
          </div>  
        </button>

        <!--<label class = "item item-input item-select ripple ripple-green" ">

          <div class = "input-label">
            País de residencia
          </div>

          <select >
            <option selected disabled value="">Elegir</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </label>-->
        <button 
          class="item item-input item-select ripple ripple-green item-select-block" 
          modal-select 
          ng-model="someModel" 
          options="selectables" 
          modal-title="Elegir grupo" 
          has-search="true" 
          header-footer-class="bar-custom" 
          cancel-search-button='X' 
          search-placeholder="Buscar..." 
          cancel-button="Cancelar" 
          reset-button="Limpiar" >
          Departamento de residencia: {{someModel}}
          <div class="option ripple ripple-green">
              {{option}}
          </div>  
        </button>

        <!--<label class = "item item-input item-select ripple ripple-green" >

          <div class = "input-label">
            Departamento de residencia
          </div>

          <select >
            <option selected disabled value="">Elegir</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </label>-->

        <button 
          class="item item-input item-select ripple ripple-green item-select-block" 
          modal-select 
          ng-model="someModel" 
          options="selectables" 
          modal-title="Elegir grupo" 
          has-search="true" 
          header-footer-class="bar-custom" 
          cancel-search-button='X' 
          search-placeholder="Buscar..." 
          cancel-button="Cancelar" 
          reset-button="Limpiar" >
          Ciudad de residencia: {{someModel}}
          <div class="option ripple ripple-green">
              {{option}}
          </div>  
        </button>

        <!--<label class = "item item-input item-select ripple ripple-green" >

          <div class = "input-label">
            Ciudad de residencia
          </div>

          <select >
            <option selected disabled value="">Elegir</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </label>-->
      
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required">
        <h2>¿Cuál fue su destino principal en Colombia?</h2>
      </div>

      <!--<label class = "item item-input item-select ripple ripple-green" >

        <div class = "input-label">
          Departamento
        </div>

        <select   >
          <option selected disabled value="">Elegir</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </label>-->

      <button 
        class="item item-input item-select ripple ripple-green item-select-block" 
        modal-select 
        ng-model="someModel" 
        options="selectables" 
        modal-title="Elegir grupo" 
        has-search="true" 
        header-footer-class="bar-custom" 
        cancel-search-button='X' 
        search-placeholder="Buscar..." 
        cancel-button="Cancelar" 
        reset-button="Limpiar" >
        Departamento: {{someModel}}
        <div class="option ripple ripple-green">
            {{option}}
        </div>  
      </button>

      <!--<label class = "item item-input item-select ripple ripple-green" >

        <div class = "input-label">
          Municipio
        </div>

        <select >
          <option selected disabled value="">Elegir</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </label>--> 

      <button 
        class="item item-input item-select ripple ripple-green item-select-block" 
        modal-select 
        ng-model="someModel" 
        options="selectables" 
        modal-title="Elegir grupo" 
        has-search="true" 
        header-footer-class="bar-custom" 
        cancel-search-button='X' 
        search-placeholder="Buscar..." 
        cancel-button="Cancelar" 
        reset-button="Limpiar" >
        Municipio: {{someModel}}
        <div class="option ripple ripple-green">
            {{option}}
        </div>  
      </button>       	
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required">
        <h2>¿Cuál fué el motivo principal para venir al departamento del Magdalena?</h2>
      </div>
      <label class="item">             	 
        <ion-radio ng-value="1" ng-model="motivo" class="ripple ripple-green" name="motivo">
          Vacaciones, recreo y ocio
        </ion-radio>

        <ion-radio ng-value="2" ng-model="motivo" class="ripple ripple-green" name="motivo">
          Visitar a familiares y/o amigos
        </ion-radio>  

        <ion-radio ng-value="3" ng-model="motivo" class="ripple ripple-green" name="motivo">
          En tránsito a otro destino
        </ion-radio>  

        <ion-radio ng-value="4" ng-model="motivo" class="ripple ripple-green" name="motivo">
          Educación/Formación
        </ion-radio> 

        <ion-radio ng-value="5" ng-model="motivo" class="ripple ripple-green" name="motivo">
          Salud y atención médica (incluye la cirugía estética)
        </ion-radio> 

        <ion-radio ng-value="6" ng-model="motivo" class="ripple ripple-green" name="motivo">
          Asistir a eventos religiosos/peregrinaciones
        </ion-radio> 

        <ion-radio ng-value="7" ng-model="motivo" class="ripple ripple-green" name="motivo">
          Compras para uso personal o para regalo
        </ion-radio>

        <ion-radio ng-value="8" ng-model="motivo" class="ripple ripple-green" name="motivo">
          Realizar inversión y/o asistir a reunión de negocio
        </ion-radio>

        <ion-radio ng-value="9" ng-model="motivo" class="ripple ripple-green" name="motivo">
          Asistir a conferencia, congreso, feria comercial o exposición
        </ion-radio>    

        <ion-radio ng-value="10" ng-model="motivo" class="ripple ripple-green" name="motivo">
          Dictar conferencia, ponente en congreso, feria comercial o exposición
        </ion-radio>      

        <ion-radio ng-value="11" ng-model="motivo" class="ripple ripple-green" name="motivo">
          Artista de espectáculo (concierto, obra de teatro, danza, etc)
        </ion-radio>

        <ion-radio ng-value="12" ng-model="motivo" class="ripple ripple-green" name="motivo">
          Boda
        </ion-radio>

        <ion-radio ng-value="13" ng-model="motivo" class="ripple ripple-green" name="motivo">
          Competir en actividad deportiva
        </ion-radio>

        <ion-radio ng-value="14" ng-model="motivo" class="ripple ripple-green" name="motivo">
          Comprar bienes o servicios para empresa que no es del Magdalena o como independiente
        </ion-radio>

        <ion-radio ng-value="15" ng-model="motivo" class="ripple ripple-green" name="motivo">
          Vender bienes o prestar servicios como representante de empresa que no es del Magdalena o como independiente
        </ion-radio>

        <ion-radio ng-value="16" ng-model="motivo" class="ripple ripple-green" name="motivo">
          Vine a emplearme en una empresa ubicada en el Magdalena
        </ion-radio>
        <ion-radio ng-value="17" ng-model="motivo" class="ripple ripple-green" name="motivo">
          Presenciar las competiciones de los JJBBO 2017
        </ion-radio>
        <ion-radio ng-value="18" ng-model="motivo" class="ripple ripple-green" name="motivo">
          Otro
        </ion-radio>
        <label class="item item-input item-floating-label">
          <span class="input-label" >Otro</span>
          <input type="text" placeholder="Otro" required ng-disabled="motivo!=18">
        </label>
        <br>

      </label>
    </div>

    <div class="card animated bounceInUp" ng-if="motivo==3">
      <div class="item item-divider situr-header ">
        <h2>¿Cuántas horas duro/durará la parada mas larga en el Magdalena?</h2>
      </div>
      <div class="item">
        <label class="item item-input item-floating-label">
          <span class="input-label" >Número de horas</span>
          <input type="text" placeholder="Número de horas" required>
        </label>
        <br>
      </div>
    </div>

    <div class="card animated bounceInUp" ng-if="motivo==5">
      <div class="item item-divider situr-header ">
        <h2>¿La finalidad del servicio médico es?</h2>
      </div>
      <div class="item">
        <ion-radio ng-value="1" ng-model="medicina" class="ripple ripple-green" name="medicina">
          Sólo opinión (asesoría) médica
        </ion-radio>

        <ion-radio ng-value="2" ng-model="medicina" class="ripple ripple-green" name="medicina">
          Chequeo médico o exámenes de rutina
        </ion-radio>  

        <ion-radio ng-value="3" ng-model="medicina" class="ripple ripple-green" name="medicina">
          Tratamiento médico sin intervención quirúrgicas
        </ion-radio>  

        <ion-radio ng-value="4" ng-model="medicina" class="ripple ripple-green" name="medicina">
          Tratamiento médico con intervención quirúrgica
        </ion-radio> 
      </div>
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required">
        <h2>¿Quién va a diligenciar la encuesta?</h2>
      </div>

      <!--<label class = "item item-input item-select ripple ripple-green">

        <div class = "input-label">
          Selecciona una persona
        </div>

        <select >
          <option selected disabled value="">Elegir</option>
          <option value="1">Visitante</option>
          <option value="2">Encuestador</option>
        </select>
      </label>-->
      
      <button 
        class="item item-input item-select ripple ripple-green item-select-block" 
        modal-select 
        ng-model="someModel" 
        options="selectables" 
        modal-title="Elegir grupo" 
        has-search="true" 
        header-footer-class="bar-custom" 
        cancel-search-button='X' 
        search-placeholder="Buscar..." 
        cancel-button="Cancelar" 
        reset-button="Limpiar" >
        Selecciona una persona: {{someModel}}
        <div class="option ripple ripple-green">
            {{option}}
        </div>  
      </button>          	
    </div>

    <br><br><br>
  </ion-content>



  <div class="popup-menu">
    <div class="popup-menu-overlay" ng-class="{'in': menu_is_open}" ng-click="togglePopupMenu()"></div>
    <i class="ion ion-grid popup-menu-toggle" ng-click="togglePopupMenu()" ng-class="{'out': menu_is_open}"></i>
    <div class="popup-menu-panel" ng-class="{'in': menu_is_open}">
      <a class="popup-menu-item ripple ripple-green" href="#/app/general" ng-click="togglePopupMenu()">
        <i class="ion ion-information-circled"></i>
        <span>General</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/estancia" ng-click="togglePopupMenu()">
        <i class="ion ion-clock"></i>
        <span>Estancia</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/transporte" ng-click="togglePopupMenu()">
        <i class="ion ion-model-s"></i>
        <span>Transporte</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/grupo" ng-click="togglePopupMenu()">
        <i class="ion ion-ios-people"></i>
        <span>Grupo</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/gastos" ng-click="togglePopupMenu()">
        <i class="ion-cash"></i>
        <span>Gastos</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/percepcion" ng-click="togglePopupMenu()">
        <i class="ion ion-person-add"></i>
        <span>Percepción</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/enteran" ng-click="togglePopupMenu();">
        <i class="ion ion-speakerphone"></i>
        <span>Redes e internet</span>
      </a>
    </div>
  </div>

  <div class="progress-container">
    <round-progress
    max="100"
    current="0"
    color="#387ef5"
    bgcolor="#c9cdff"
    radius="10"
    stroke="1"
    semi="false"
    rounded="false"
    clockwise="true"
    responsive="true"
    duration="800"
    animation="easeInOutQuart"
    animation-delay="2">

  </round-progress>
  <div class="progress-text">

    <span class="progress-percent">0%</span>
  </div>
</div>

</ion-view>
