<ion-view view-title="Viaje en grupo">
  <ion-content>
    <div class="card animated bounceInUp" >
      <div class="item item-divider situr-header required">
        <h2> ¿Cuántas personas incluyéndose usted, realizaron juntos el viaje desde la llegada hasta la salida del Magdalena?</h2>
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Número de personas</span>
        <input type="number" placeholder="Número de personas" min="1" ng-init="persons=1" ng-model="persons" required>
      </label><br>
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required">
        <h2>¿Qué actividades realizó en el Magdalena?</h2>
      </div>
      <div class="item">
        <ion-checkbox class="ripple ripple-green" ng-model="data.solo" ng-checked="persons==1" ng-disabled="persons!=1">
          Viajé solo
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.pareja" ng-checked="persons!=1 && data.solo"  ng-disabled="persons==1">
          Mi pareja / Novia(o) / esposa(o)
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.hijos" ng-checked="persons!=1 && data.solo" ng-disabled="persons==1"> 
          Mis Hijos
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.padres" ng-checked="persons!=1 && data.solo" ng-disabled="persons==1" >
          Mis Padres
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.familiares" ng-checked="persons!=1 && data.solo" ng-disabled="persons==1">
          Otros familiares
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.amigo" ng-checked="persons!=1 && data.solo" ng-disabled="persons==1">
          Amigo(s)
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.trabajo" ng-checked="persons!=1 && data.solo" ng-disabled="persons==1">
          Compañeros de trabajo
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.estudio" ng-checked="persons!=1 && data.solo" ng-disabled="persons==1">
          Compañeros de estudio
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.turistas" ng-checked="persons!=1 && data.solo" ng-disabled="persons==1" >
          Otros turistas (Incluye todas las personas desconocidas o sin ningún vínculo con usted)
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.estudiantes" ng-checked="persons!=1 && data.solo" ng-disabled="persons==1">
          Estudiantes
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.profesores" ng-checked="persons!=1 && data.solo" ng-disabled="persons==1">
          Profesores
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.otro" ng-checked="persons!=1 && data.solo" ng-disabled="persons==1">
          Otro
        </ion-checkbox>

        <label class="item item-input item-floating-label">
         <span class="input-label" >Otro</span>
         <input type="text" placeholder="Otro" required ng-disabled="!data.otro">
       </label>
       <br>
     </div>        	          	
   </div>

   <div class="card animated bounceInUp" ng-if="data.turistas">
    <div class="item item-divider situr-header required">
      <h2> ¿Cuántos eran los otros turístas?</h2>
    </div>
    <label class="item item-input item-floating-label">
      <span class="input-label" >Número de turistas</span>
      <input type="number" placeholder="Número de turistas" min="1" ng-init="turistas=1" ng-model="turistas" required>
    </label><br>
  </div>
  <br><br><br>
</ion-content>

<div class="popup-menu">
  <div class="popup-menu-overlay" ng-class="{'in': menu_is_open}" ng-click="togglePopupMenu()"></div>
  <i class="ion ion-grid popup-menu-toggle" ng-click="togglePopupMenu()" ng-class="{'out': menu_is_open}"></i>
  <div class="popup-menu-panel" ng-class="{'in': menu_is_open}">
    <a class="popup-menu-item ripple ripple-green" href="#/app/general" ng-click="togglePopupMenu()">
      <i class="ion ion-information-circled"></i>
      <span>General</span>
    </a>
    <a class="popup-menu-item ripple ripple-green" href="#/app/estancia" ng-click="togglePopupMenu()">
      <i class="ion ion-clock"></i>
      <span>Estancia</span>
    </a>
    <a class="popup-menu-item ripple ripple-green" href="#/app/transporte" ng-click="togglePopupMenu()">
      <i class="ion ion-model-s"></i>
      <span>Transporte</span>
    </a>
    <a class="popup-menu-item ripple ripple-green" href="#/app/grupo" ng-click="togglePopupMenu()">
      <i class="ion ion-ios-people"></i>
      <span>Grupo</span>
    </a>
    <a class="popup-menu-item ripple ripple-green" href="#/app/gastos" ng-click="togglePopupMenu()">
      <i class="ion-cash"></i>
      <span>Gastos</span>
    </a>
    <a class="popup-menu-item ripple ripple-green" href="#/app/percepcion" ng-click="togglePopupMenu()">
      <i class="ion ion-person-add"></i>
      <span>Percepción</span>
    </a>
    <a class="popup-menu-item ripple ripple-green" href="#/app/enteran" ng-click="togglePopupMenu();">
      <i class="ion ion-speakerphone"></i>
      <span>Redes e internet</span>
    </a>
  </div>
</div>

<div class="progress-container">
  <round-progress
  max="100"
  current="50"
  color="#16469e"
  bgcolor="#c9cdff"
  radius="10"
  stroke="1"
  semi="false"
  rounded="false"
  clockwise="true"
  responsive="true"
  duration="800"
  animation="easeInOutQuart"
  animation-delay="2">
  </round-progress>
  <div class="progress-text">
    <span class="progress-percent">50%</span>
  </div>
</div>
</ion-view>
