<ion-view view-title="Inicio">
  <ion-content>
    <div class="card padding"> 
      <h2 class="assertive">Bienvenido Admin Admin</h2>  
      <p>
        En este módulo puede gestionar los contenidos a mostrar en la sección de proveedores, atracciones, eventos y actividades del portal de promoción turística de Situr Atlántico. Igualmente, cuenta con el módulo de encuestas, usuarios y cálculo de indicadores. En el módulo de encuestas puede listar, crear y modificar las encuestas de las mediciones de turismo receptor, interno y emisor y, oferta y empleo. De igual manera, puede encargarse de los grupos de viajes relacionados a las encuestas de turismo receptor. En el módulo de indicadores le ofrecemos la posibilidad de calcular los indicadores por periodo de las diferentes mediciones del sistema (Receptor, interno y emisor, oferta y empleo). En el módulo de usuarios le brindamos la oportunidad de listar los usuarios del sistema, así como editar y crear nuevos usuarios. Adicionalmente, dispone de funcionalidades como la gestión y carga de informes, estadísticas secundarias y cambiar su contraseña.
      </p>
    </div>
    <br>
  </ion-content>
  <div class="fixed-action-btn" style="bottom: 0px; right: 0px;">
  	<button class="botonF1 button ripple ripple-light button-energized animated zoomIn " ng-click="show()">
    	<i class="ion-information-circled"></i>
  	</button>
	</div>
</ion-view>
