<ion-view view-title="Encuestas oferta y empleo">
  <div class="bar bar-subheader bar-custom item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="text" placeholder="Buscar encuesta..." ng-model="search">
    </label>
    <button class="button button-clear  button-has-search" ng-if="search">
      <i class="ion-close"></i>
      <span>Cancelar</span>
    </button>
  </div>
  <ion-content class="has-subheader">
    <div class="card">   
      <div class="item item-divider situr-header">
        <h2>Encuestas oferta y empleo</h2>
      </div>
      <div class="item" >
        <ion-scroll direction="x" id="scroll-x">
          <div class="row row-table">
            <div class="col col-25"></div>
            <div class="col col-75">Nombre proveedor</div>
            <div class="col col-75">Tipo</div>
            <div class="col col-75">Fecha</div>
            <div class="col col-50">Estado</div>
            <div class="col col-50"></div>
          </div>
          <div class="row row-table-col" ng-repeat="n in [] | range:3">
            <div class="col col-25">{{$index+1}}</div>
            <div class="col col-75">Hotel Bahía Taganga</div>
            <div class="col col-75">Hotel</div>
            <div class="col col-75">Agosto 2016</div>
            <div class="col col-50">Proceso</div>
            <div class="col col-50">
              <a class="button button-outline button-stable ripple ripple-green" href="#/app/caracterizacionAlojamientos"><i class="ion-edit"></i></a>
              <a class="button button-outline button-positive ripple ripple-green" href="#/app/encuestaSitio"><i class="ion-eye"></i></a>
            </div>
          </div>
        </ion-scroll>
      </div> 
    </div> 
  </ion-content>  
</ion-view>
