<ion-modal-view class="main-modal">
  <div class="modal-select">
    <div class="row">
      <div class="col padding"> 
        <h3>Completar datos</h3>
      </div>
    </div>

    <ion-content class="select-content">
      <br><br>
      <div class="card">
        <div class="item item-divider situr-header"><h2>Rubro: Transporte aéreo internacional (Incluye ida-vuelta) </h2></div>
        <div class="item item-divider situr-header"><h2>Cantidad pagada  </h2></div>
        <div class="item item-divider situr-header">
          En el Atlántico
        </div>
        <label class="item item-input item-floating-label">
          <span class="input-label" >Cantidad</span>
          <input type="text" placeholder="Cantidad" required>
        </label>


        <!--<label class = "item-input item-select ripple ripple-green">    
          <div class = "input-label">
            Elegir Divisa
          </div>       
          <select  >
            <option selected disabled value="">Elegir</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </label>-->
        <button 
          class="item item-input item-select ripple ripple-green item-select-block" 
          modal-select 
          ng-model="someModel" 
          options="selectables" 
          modal-title="Elegir grupo" 
          has-search="true" 
          header-footer-class="bar-custom" 
          cancel-search-button='X' 
          search-placeholder="Buscar..." 
          cancel-button="Cancelar" 
          reset-button="Limpiar" >
          Elegir Divisa: {{someModel}}
          <div class="option ripple ripple-green">
              {{option}}
          </div>  
        </button> 

        <div class="item item-divider situr-header">
          Fuera del Atlántico
        </div>
        <label class="item item-input item-floating-label">
          <span class="input-label" >Cantidad</span>
          <input type="text" placeholder="Cantidad" required>
        </label>

        <!--<label class = "item-input item-select">    
          <div class = "input-label">
            Elegir Divisa
          </div>       
          <select  >
            <option selected disabled value="">Elegir</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </label>-->
        <button 
          class="item item-input item-select ripple ripple-green item-select-block" 
          modal-select 
          ng-model="someModel" 
          options="selectables" 
          modal-title="Elegir grupo" 
          has-search="true" 
          header-footer-class="bar-custom" 
          cancel-search-button='X' 
          search-placeholder="Buscar..." 
          cancel-button="Cancelar" 
          reset-button="Limpiar" >
          Elegir Divisa: {{someModel}}
          <div class="option ripple ripple-green">
              {{option}}
          </div>  
        </button>

        <div class="item item-divider situr-header"><h2>¿A cuántas personas cubrió?</h2></div>
        <label class="item item-input item-floating-label">
          <span class="input-label" >Cantidad</span>
          <input type="text" placeholder="Cantidad" required>
        </label><br>
        <div class="item item-divider situr-header"><h2>Fue pagado por otra persona u organización/ empresa diferente a usted o a su grupo de viaje</h2></div>
        <ion-checkbox class="ripple ripple-green">
          Si
        </ion-checkbox>
      </div>
      <br><br><br>
    </ion-content>
    <div class="popup-buttons" style="position: absolute;bottom: 0px;width: 100%;border-top: 1px solid #ddd;">
      <button class="button ng-binding button-stable OK ripple ripple-green" >OK</button>
      <button class="button ng-binding button-stable Cancel ripple ripple-green" ng-click="modal.hide()">Cancelar</button>
    </div>
  </div>
</ion-modal-view>