<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark bar-custom">
    <h1 class="title">Crear</h1>
    <div class="buttons">
      <button class="button button-clear ripple ripple-light" ng-click="modal2.hide()">
        <i class='ion-chevron-down'></i> 
      </button>
    </div>

  </ion-header-bar>
  <ion-content>
    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header">
        <h2></h2>
      </div>
      <!--<label class = "item item-input item-select ripple ripple-green">    
        <div class = "input-label">
          Año
        </div>       
        <select  >
          <option selected disabled value="">Elegir </option>
          <option value="1">2017</option>
          <option value="2">2018</option>
          <option value="3">2019</option>
          <option value="4">2020</option>
        </select>
      </label>-->
      <button 
        class="item item-input item-select ripple ripple-green item-select-block" 
        modal-select 
        ng-model="someModel" 
        options="selectables" 
        modal-title="Elegir grupo" 
        has-search="true" 
        header-footer-class="bar-custom" 
        cancel-search-button='X' 
        search-placeholder="Buscar..." 
        cancel-button="Cancelar" 
        reset-button="Limpiar" >
        Año: {{someModel}}
        <div class="option ripple ripple-green">
            {{option}}
        </div>  
      </button>
      
      <!--<label class = "item item-input item-select ripple ripple-green">    
        <div class = "input-label">
          Tipo de establecimiento
        </div>       
        <select  >
          <option selected disabled value="">Elegir </option>
          <option value="1">Hotel</option>
          <option value="2">Apartahotel</option>
          <option value="3">Hostal</option>
          <option value="4">Museo</option>
        </select>
      </label>-->
      <button 
        class="item item-input item-select ripple ripple-green item-select-block" 
        modal-select 
        ng-model="someModel" 
        options="selectables" 
        modal-title="Elegir grupo" 
        has-search="true" 
        header-footer-class="bar-custom" 
        cancel-search-button='X' 
        search-placeholder="Buscar..." 
        cancel-button="Cancelar" 
        reset-button="Limpiar" >
        Tipo de establecimiento: {{someModel}}
        <div class="option ripple ripple-green">
            {{option}}
        </div>  
      </button>

      <!--<label class = "item item-input item-select ripple ripple-green">    
        <div class = "input-label">
          Destino
        </div>       
        <select  >
          <option selected disabled value="">Elegir </option>
          <option value="1">Santa Marta</option>
          <option value="2">Ciénaga</option>
          <option value="3">El Banco</option>
          <option value="4">Santa Ana</option>
        </select>
      </label>-->

      <button 
        class="item item-input item-select ripple ripple-green item-select-block" 
        modal-select 
        ng-model="someModel" 
        options="selectables" 
        modal-title="Elegir grupo" 
        has-search="true" 
        header-footer-class="bar-custom" 
        cancel-search-button='X' 
        search-placeholder="Buscar..." 
        cancel-button="Cancelar" 
        reset-button="Limpiar" >
        Destino: {{someModel}}
        <div class="option ripple ripple-green">
            {{option}}
        </div>  
      </button>

      
      <label class="item item-input item-floating-label">
        <span class="input-label" >Pequeña</span>
        <input type="number" placeholder="Pequeña" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Mediana</span>
        <input type="number" placeholder="Mediana" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Grande</span>
        <input type="number" placeholder="Grande" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Micro</span>
        <input type="number" placeholder="Micro" required>
      </label>
      <br>
    </div>
  </ion-content>
</ion-modal-view>