<ion-modal-view class="main-modal">

  <div class="modal-select">
    <div class="row animated zoomIn">
      <div class="col padding"> 
        <h3>Seleccionar persona</h3>
      </div>
    </div>
    <ion-content class="select-content">
      <br><br>
      <ion-list>
        <div class="row animated zoomIn">
          <div class="col"> 

            <ion-radio ng-value="1" ng-model="data.encuestador" class="ripple ripple-green" name="encuestador">Visitante</ion-radio>
            <ion-radio ng-value="2" ng-model="data.encuestador" class="ripple ripple-green" name="encuestador">Encuestador</ion-radio>

          </div>
        </div>
      </ion-list>
    </ion-content>

    <div class="popup-buttons" style="position: absolute;bottom: 0px;width: 100%;border-top: 1px solid #ddd;">
      <button class="button ng-binding button-stable OK" >OK</button>
      <button class="button ng-binding button-stable Cancel" ng-click="modal.hide()">Cancelar</button>
    </div>
  </div>
</ion-modal-view>