<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark bar-custom">
    <h1 class="title">Agregar integrante</h1>
    <div class="buttons">
      <button class="button button-clear ripple ripple-light" ng-click="modalCreate.hide()">
        <i class='ion-chevron-down'></i> 
      </button>
    </div>

  </ion-header-bar>
  <ion-content>
    <form name="forms.IntegranteForm" novalidate="novalidate" >
      <div class="card">
          <label class="item item-input item-floating-label">
            <span class="input-label" >Nombre</span>
            <input type="text" placeholder="Nombre" ng-required="true" ng-model="integrante.Nombre" name="nombre">
            <span ng-show="forms.IntegranteForm.$submitted || forms.IntegranteForm.nombre.$touched" class="validated">
                <span ng-show="forms.IntegranteForm.nombre.$error.required">*</span>
            </span>
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label" >Edad</span>
            <input type="number" placeholder="Edad" ng-required="true" ng-model="integrante.Edad" name="edad">
            <span ng-show="forms.IntegranteForm.$submitted || forms.IntegranteForm.edad.$touched" class="validated">
                <!--P4P1Input1. El campo edad es requerido-->
                <span ng-show="forms.IntegranteForm.edad.$error.required">*</span>
                <span ng-show="forms.IntegranteForm.edad.$error.number">*</span>
            </span>
          </label>

          <label class="item">
            <span class="input-label" >Sexo</span>
            <span ng-show="forms.IntegranteForm.$submitted || forms.IntegranteForm.sexo.$touched" class="validated">
                <span ng-show="forms.IntegranteForm.sexo.$error.required">*</span>
            </span>
            <ion-radio 
              ng-value="true" 
              ng-model="integrante.Sexo" 
              class="ripple ripple-green genero" 
              name="sexo" 
              ng-required="true">
              M
            </ion-radio>
            
            <ion-radio 
              ng-value="false" 
              ng-model="integrante.Sexo" 
              class="ripple ripple-green genero" 
              name="sexo" 
              ng-required="true">
              F
            </ion-radio>      
          </label>

          <!--Estado Civil-->
          <a  
            class="item item-input item-select ripple ripple-green item-select-block" 
            modal-select 
            ng-model="integrante.civil" 
            options="datos.estados" 
            modal-title="Elegir Estado Civil" 
            header-footer-class="bar-custom" 
            cancel-search-button='X' 
            cancel-button="Cancelar" 
            reset-button="Limpiar" 
            ng-required="true"
            name="civil"
            ng-change="integrante.Civil=integrante.civil.id"
            >
            <span class="validated" ng-show="forms.IntegranteForm.$submitted || forms.IntegranteForm.civil.$touched">
                <span ng-show="forms.IntegranteForm.civil.$error.required">*</span>
            </span>
            Estado Civil: {{integrante.civil.nombre}}
            <div class="option ripple ripple-green">
                {{option.nombre}}
            </div>  
          </a>

          <!--Ocupacion-->
          <a 
            class="item item-input item-select ripple ripple-green item-select-block" 
            modal-select 
            ng-model="integrante.ocupacion" 
            options="datos.ocupaciones" 
            modal-title="Elegir grupo" 
            header-footer-class="bar-custom" 
            cancel-search-button='X' 
            cancel-button="Cancelar" 
            reset-button="Limpiar" 
            ng-required="true"
            name="ocupacion"
            ng-change="integrante.Ocupacion=integrante.ocupacion.id"
            >
            <span class="validated" ng-show="forms.IntegranteForm.$submitted || forms.IntegranteForm.ocupacion.$touched">
              <span ng-show="forms.IntegranteForm.ocupacion.$error.required">*</span>
            </span>
            Ocupación: {{integrante.ocupacion.nombre}}
            <div class="option ripple ripple-green">
                {{option.nombre}}
            </div>  
          </a>

          <label class="item item-input item-floating-label" ng-if="integrante.ocupacion.id == 8">
            <span class="input-label" >Ocupación</span>
            <input type="text" placeholder="Ocupación" ng-required="true" ng-model="integrante.otraocupacion" name="Otra_ocupacion" >
            <span ng-show="forms.IntegranteForm.$submitted || forms.IntegranteForm.Otra_ocupacion.$touched" class="validated">
                <span ng-show="forms.IntegranteForm.Otra_ocupacion.$error.required">*</span>
            </span>
          </label>

          <!--Vive en el hogar-->
          <a 
            class="item item-input item-select ripple ripple-green item-select-block" 
            modal-select 
            ng-model="integrante.vive" 
            options="selectables" 
            modal-title="Elegir" 
            header-footer-class="bar-custom" 
            cancel-search-button='X' 
            cancel-button="Cancelar" 
            reset-button="Limpiar" 
            ng-required="true"
            name="vive"
            ng-change="integrante.Vive=integrante.vive.option"
            >
            <span class="validated" ng-show="forms.IntegranteForm.$submitted || forms.IntegranteForm.vive.$touched">
              <span ng-show="forms.IntegranteForm.vive.$error.required">*</span>
            </span>
            ¿Vive continuamente en el Hogar?: {{integrante.vive.value}}
            <div class="option ripple ripple-green">
                {{option.value}}
            </div>  
          </a>

          <!--Nivel educacion-->
          <a 
            class="item item-input item-select ripple ripple-green item-select-block" 
            modal-select 
            ng-model="integrante.nivel_Educacion" 
            options="datos.niveles" 
            modal-title="Elegir Nivel de educación" 
            header-footer-class="bar-custom" 
            cancel-search-button='X' 
            cancel-button="Cancelar" 
            reset-button="Limpiar" 
            ng-required="true"
            name="nivel"
            ng-change="integrante.Nivel_Educacion=integrante.nivel_Educacion.id"

            >
            <span class="validated" ng-show="forms.IntegranteForm.$submitted || forms.IntegranteForm.nivel.$touched">
              <span  ng-show="forms.IntegranteForm.nivel.$error.required">*</span>
            </span>

            Nivel de educación: {{integrante.nivel_Educacion.nombre}}
            <div class="option ripple ripple-green">
                {{option.nombre}}
            </div>  
          </a>
          
          <!--viaje emprendido-->
          <a 
            class="item item-input item-select ripple ripple-green item-select-block" 
            modal-select 
            ng-model="integrante.viaje" 
            options="selectables" 
            modal-title="Elegir" 
            header-footer-class="bar-custom" 
            cancel-search-button='X' 
            cancel-button="Cancelar" 
            reset-button="Limpiar" 
            ng-required="true"
            name="viaje"
            ng-change="integrante.Viaje=integrante.viaje.option"
            >
            <span class="validated" ng-show="forms.IntegranteForm.$submitted || forms.IntegranteForm.viaje.$touched">
              <span ng-show="forms.IntegranteForm.viaje.$error.required">*</span>
            </span>
            Finalizó un viaje que habia emprendido en: {{integrante.viaje.value}}
            <div class="option ripple ripple-green">
                {{option.value}}
            </div>  
          </a>

          <!--Motivos-->
          <a 
            ng-if="integrante.viaje.option==0"
            class="item item-input item-select ripple ripple-green item-select-block" 
            modal-select 
            ng-model="integrante.motivo" 
            options="datos.motivos" 
            modal-title="Elegir motivo" 
            header-footer-class="bar-custom" 
            cancel-search-button='X' 
            cancel-button="Cancelar" 
            reset-button="Limpiar" 
            ng-required="true"
            name="motivo"
            ng-change="integrante.Motivo=integrante.motivo.id">
            <span class="validated" ng-show="forms.IntegranteForm.$submitted || forms.IntegranteForm.motivo.$touched">
              <span c ng-show="forms.IntegranteForm.motivo.$error.required">*</span>
            </span>
            ¿Por qué motivos no realizó ningún viaje?: {{integrante.motivo.nombre}}
            <div class="option ripple ripple-green">
                {{option.nombre}}
            </div>  
          </a>

          <div class="item pull-right">
             <button  type="submit" 
                      class="ripple 
                      ripple-green 
                      button 
                      button-outline 
                      button-positive 
                      button-small"
                      ng-click="guardarIntegrante(forms.IntegranteForm)">
              Guardar
             </button> 
          </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>