<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark bar-custom">
    <h1 class="title">Crear dato</h1>
    <div class="buttons">
      <button class="button button-clear ripple ripple-light" ng-click="modal.hide()">
        <i class='ion-chevron-down'></i> 
      </button>
    </div>

  </ion-header-bar>
  <ion-content>
    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header">
        <h2></h2>
      </div>
      <label class = "item">            
        Año: 2016 
      </label>
      <label class = "item">    
        Tipo de establecimiento: Hotel
      </label>
      <label class = "item">    
        Destino: Santa Marta
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Pequeña</span>
        <input type="number" placeholder="Pequeña" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Mediana</span>
        <input type="number" placeholder="Mediana" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Grande</span>
        <input type="number" placeholder="Grande" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Micro</span>
        <input type="number" placeholder="Micro" required>
      </label>
      <br>
    </div>
  </ion-content>
</ion-modal-view>