<ion-view view-title="Crear grupo de viaje">
  <ion-content>
    <div class="card animated bounceInUp" >
      <div class="item item-divider situr-header required">
        <h2>Fecha de aplicación</h2>
      </div>
      <div class="item date" ion-datetime-picker date ng-model="aplicacion" ng-init="aplicacion='Pulse aquí'">
        {{aplicacion| date: "yyyy-MM-dd" }}
      </div>
    </div>

    <div class="card animated bounceInUp" >
      <div class="item item-divider situr-header required">
        <h2>Lugar de aplicación</h2>
      </div>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Elegir lugar
          </div>
          <select>
            <option>1 - El Rodadero</option>
            <option>10 - Taganga</option>
            <option>20 - El Banco</option>
          </select>
        </label>
      </div>
    </div>

    <div class="card animated bounceInUp" >
      <div class="item item-divider situr-header required">
        <h2>Personas encuestadas</h2>
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Número de Personas</span>
        <input type="number" placeholder="Número de Personas" required>
      </label><br>
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required">
        <h2>Tipo de viaje</h2>
      </div>
      <label class="item">               
        <ion-radio ng-value="1" ng-model="tipoVIaje" class="ripple ripple-green" name="tipoVIaje">
          Viaje de negocios
        </ion-radio>

        <ion-radio ng-value="2" ng-model="tipoVIaje" class="ripple ripple-green" name="tipoVIaje">
          Excursión niños y jóvenes
        </ion-radio>  

        <ion-radio ng-value="3" ng-model="tipoVIaje" class="ripple ripple-green" name="tipoVIaje">
          Otro tipo de viaje
        </ion-radio>  
      </label>
    </div>

    <div class="card animated bounceInUp" >
      <div class="item item-divider situr-header required">
        <h2>Tamaño del grupo de viaje</h2>
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Mayores de 15 años PRES </span>
        <input type="number" placeholder="Mayores de 15 años PRES" ng-model="mayores" ng-init="mayores=0" min=0>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Menores de 15 años PRES </span>
        <input type="number" placeholder="Menores de 15 años PRES" ng-model="menores" ng-init="menores=0" min=0>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Mayores de 15 años NO PRES</span>
        <input type="number" placeholder="Mayores de 15 años NO PRES" ng-model="mayoresNo" ng-init="mayoresNo=0" min=0>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Menores de 15 años NO PRES</span>
        <input type="number" placeholder="Menores de 15 años NO PRES" ng-model="menoresNo" ng-init="menoresNo=0" min=0>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Personas del Atlántico</span>
        <input type="number" placeholder="Personas del Atlántico" ng-model="atlantico" ng-init="atlantico=0" min=0>
      </label>
      <label class="item">
        <h3>Total: {{mayores+menores+mayoresNo+menoresNo+atlantico}}</h3>
      </label>
    </div>
    <br><br><br>
  </ion-content>
</ion-view>
