<ion-view view-title="Numero de empleados">
  <ion-content>


    <div class="card animated bounceInUp">   
      <div class="item item-divider situr-header">
        <h2>Número de empleados según el tipo de vinculación laboral</h2>
      </div>

      <label class="item item-input item-floating-label">
        <span class="input-label" >Personal temporal contratado directamente</span>
        <input type="number" placeholder="Personal temporal contratado directamente" min="1" required ng-model="directamente">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Personal temporal contratado a través de Agencia </span>
        <input type="number" placeholder="Personal temporal contratado a través de Agencia " min="1" required ng-model="agencia">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Personal permanente</span>
        <input type="number" placeholder="Personal permanente" min="1" required ng-model="permanente">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Aprendiz o estudiante por convenio</span>
        <input type="number" placeholder="Aprendiz o estudiante por convenio" min="1" required ng-model="estudiante">
      </label>
      <label class="item">
        Total: {{estudiante+permanente+agencia+directamente}}
      </label>  

    </div>

    <div class="card animated bounceInUp">   
      <div class="item item-divider situr-header">
        <h2>Número de empleados según el rango de edad</h2>
      </div>

      <label class="item item-input item-floating-label">
        <span class="input-label" >12 a 18 años </span>
        <input type="number" placeholder="12 a 18 años" min="1" required ng-model="doce">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >19 a 25 años</span>
        <input type="number" placeholder="19 a 25 años" min="1" required ng-model="diecinueve">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >26 a 40 años </span>
        <input type="number" placeholder="26 a 40 años" min="1" required ng-model="veintiseis">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >41 a 64 años</span>
        <input type="number" placeholder="41 a 64 años" min="1" required ng-model="cuarentayuno">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >65 años y más</span>
        <input type="number" placeholder="65 años y más" min="1" required ng-model="sesentaycinco">
      </label>
      <label class="item">
        Total: {{doce+diecinueve+veintiseis+cuarentayuno+sesentaycinco}}
      </label>  

    </div>
    <div class="card animated bounceInUp">   
      <div class="item item-divider situr-header">
        <h2>Género de los empleados</h2>
      </div>

      <label class="item item-input item-floating-label">
        <span class="input-label" >Hombres</span>
        <input type="number" placeholder="Hombres" min="1" required ng-model="m">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Mujeres</span>
        <input type="number" placeholder="Mujeres" min="1" required ng-model="g">
      </label>
      <label class="item">
        Total: {{m+f}}
      </label>  

    </div>
    <br><br><br>
  </ion-content>

  <div class="popup-menu">
    <div class="popup-menu-overlay" ng-class="{'in': menu_is_open}" ng-click="togglePopupMenu()"></div>
    <i class="ion ion-grid popup-menu-toggle" ng-click="togglePopupMenu()" ng-class="{'out': menu_is_open}"></i>
    <div class="popup-menu-panel" ng-class="{'in': menu_is_open}">

      <a class="popup-menu-item ripple ripple-green" href="#/app/caracterizacionAlojamientos" ng-click="togglePopupMenu()">
        <i class="ion ion-clipboard"></i>
        <span>Caracterizacion</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/ofertaAlojamiento" ng-click="togglePopupMenu()">
        <i class="ion ion-calculator"></i>
        <span>Oferta</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/empleoMensual" ng-click="togglePopupMenu()">
        <i class="ion-ios-people"></i>
        <span>Empleo mensual</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/numeroEmpleados" ng-click="togglePopupMenu()">
        <i class="ion ion-person-add"></i>
        <span>N° Empleados</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/empleadosCaracterizacion" ng-click="togglePopupMenu();">
        <i class="ion ion-briefcase"></i>
        <span>Empleados Caracterización</span>
      </a>
    </div>
  </div>

  <div class="progress-container">
    <round-progress
    max="100"
    current="75"
    color="#16469e"
    bgcolor="#c9cdff"
    radius="10"
    stroke="1"
    semi="false"
    rounded="false"
    clockwise="true"
    responsive="true"
    duration="800"
    animation="easeInOutQuart"
    animation-delay="2">

    </round-progress>
    <div class="progress-text">

      <span class="progress-percent">75%</span>
    </div>
  </div>

</ion-view>
