<ion-view view-title="Oferta de alojamientos">
  <ion-content>
    <div class="card animated bounceInUp" >
      <div class="item item-divider situr-header required">
        <h2>Habitaciones</h2>
      </div>
      <div class="item">
        <ion-scroll direction="x" id="scroll-x" >
          <div class="row row-table-col">
            <div class="col col-75"></div>
            <div class="col col-75" >Mes</div>
          </div>
          <div class="row row-table-col">
            <div class="col col-75">Tarifa de habitación doble estándar incluido impuestos ($) en el mes *El campo es requerido.</div>
            <div class="col col-75" >
              <label class="item item-input item-floating-label">
                <span class="input-label" >Tarifa</span>
                <input type="number" placeholder="Tarifa" min="1" required>
              </label> <br> 
            </div>
          </div>
          <div class="row row-table-col">
            <div class="col col-75">¿Cuántas personas realizaron Check in o ingresaron durante el mes?</div>
            <div class="col col-75" >
              <label class="item item-input item-floating-label">
                <span class="input-label" >Número de personas</span>
                <input type="number" placeholder="Número de personas" min="1" required>
              </label> <br> 
            </div>
          </div>
          <div class="row row-table-col">
            <div class="col col-75">¿Cuántos viajeros que ingresaron durante el mes anterior son extranjeros?</div>
            <div class="col col-75" >
              <label class="item item-input item-floating-label">
                <span class="input-label" >Número de extranjeros</span>
                <input type="number" placeholder="Número de extranjeros" min="0" required>
              </label> <br> 
            </div>
          </div>
          <div class="row row-table-col">
            <div class="col col-75">¿Cuántas habitaciones se ocuparon durante el mes? (Es la suma de habitaciones vendidas cada noche del mes)</div>
            <div class="col col-75" >
              <label class="item item-input item-floating-label">
                <span class="input-label" >Número de habitaciones</span>
                <input type="number" placeholder="Número de habitaciones" min="0" required>
              </label> <br> 
            </div>
          </div>
          <div class="row row-table-col">
            <div class="col col-75">¿¿Total huéspedes durante noches del mes de anterior? (Es la sumatoria de los huéspedes que se encontraban registrados cada noche del mes)</div>
            <div class="col col-75" >
              <label class="item item-input item-floating-label">
                <span class="input-label" >Número de huéspedes</span>
                <input type="number" placeholder="Número de huéspedes" min="0" required>
              </label> <br> 
            </div>
          </div>

        </ion-scroll>

      </div>                      
    </div><br><br><br>
  </ion-content>

  <div class="popup-menu">
    <div class="popup-menu-overlay" ng-class="{'in': menu_is_open}" ng-click="togglePopupMenu()"></div>
    <i class="ion ion-grid popup-menu-toggle" ng-click="togglePopupMenu()" ng-class="{'out': menu_is_open}"></i>
    <div class="popup-menu-panel" ng-class="{'in': menu_is_open}">

      <a class="popup-menu-item ripple ripple-green" href="#/app/caracterizacionAlojamientos" ng-click="togglePopupMenu()">
        <i class="ion ion-clipboard"></i>
        <span>Caracterizacion</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/ofertaAlojamiento" ng-click="togglePopupMenu()">
        <i class="ion ion-calculator"></i>
        <span>Oferta</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/empleoMensual" ng-click="togglePopupMenu()">
        <i class="ion-ios-people"></i>
        <span>Empleo mensual</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/numeroEmpleados" ng-click="togglePopupMenu()">
        <i class="ion ion-person-add"></i>
        <span>N° Empleados</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/empleadosCaracterizacion" ng-click="togglePopupMenu();">
        <i class="ion ion-briefcase"></i>
        <span>Empleados Caracterización</span>
      </a>
    </div>
  </div>

  <div class="progress-container">
    <round-progress
    max="100"
    current="50"
    color="#16469e"
    bgcolor="#c9cdff"
    radius="10"
    stroke="1"
    semi="false"
    rounded="false"
    clockwise="true"
    responsive="true"
    duration="800"
    animation="easeInOutQuart"
    animation-delay="2">

    </round-progress>
    <div class="progress-text">

      <span class="progress-percent">50%</span>
    </div>
  </div>

</ion-view>
