<ion-view view-title="Percepción del viaje al departamento del Magdalena">
  <ion-content>
    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required">
        <h2> ¿Durante su viaje utilizó servicio de alojamiento?</h2>
      </div>

      <label class="item">               
        <ion-radio ng-value="1" ng-model="alojamiento" class="ripple ripple-green" name="alojamiento">
          Si
        </ion-radio>

        <ion-radio ng-value="2" ng-model="alojamiento" class="ripple ripple-green" name="alojamiento">
          No
        </ion-radio>  
      </label>
    </div>

    <div class="card animated bounceInUp" ng-if="alojamiento==1">
      <div class="item item-divider situr-header">
        <h2>Calificación del servicio de alojamiento</h2>
      </div>

      <div class="item" >
        <ion-scroll direction="x" id="scroll-x">
          <div class="row row-table-col">
            <div class="col col-75">Servicios de alojamiento</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">{{$index+1}}
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Estado del edificio</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="edificio" class="ripple ripple-green" name="edificio">
              </ion-radio>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Estado de los muebles</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="muebles" class="ripple ripple-green" name="muebles">
                
              </ion-radio>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Estado sabana-toallas</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="toallas" class="ripple ripple-green" name="toallas">
              </ion-radio>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Higiene y limpieza</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="higiene" class="ripple ripple-green" name="higiene">
              </ion-radio>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Trato del personal</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="trato" class="ripple ripple-green" name="trato">
              </ion-radio>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Servicio de comidas</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="comidas" class="ripple ripple-green" name="comidas">
              </ion-radio>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Precios de alojamiento  </div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="precios" class="ripple ripple-green" name="precios">
              </ion-radio>
            </div>
          </div>



        </ion-scroll>
      </div>    
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required">
        <h2> ¿Durante su viaje utilizó servicios de restaurante?</h2>
      </div>

      <label class="item">               
        <ion-radio ng-value="1" ng-model="restaurante" class="ripple ripple-green" name="restaurante">
          Si
        </ion-radio>

        <ion-radio ng-value="2" ng-model="restaurante" class="ripple ripple-green" name="restaurante">
          No
        </ion-radio>  
      </label>
    </div>

    <div class="card animated bounceInUp" ng-if="restaurante==1">
      <div class="item item-divider situr-header">
        <h2>Calificación del servicio de restaurante</h2>
      </div>

      <div class="item" >
        <ion-scroll direction="x" id="scroll-x">
          <div class="row row-table-col">
            <div class="col col-75">SCalificación del servicio de restaurante</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">{{$index+1}}</div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Variedad de la oferta gastronómica</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="sabor" class="ripple ripple-green" name="sabor">
              </ion-radio>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Variedad de la oferta gastronómica</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="oferta" class="ripple ripple-green" name="oferta">
              </ion-radio>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Trato del personal</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="tratoR" class="ripple ripple-green" name="tratoR">
              </ion-radio>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Higiene y Limpieza</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="limpieza" class="ripple ripple-green" name="limpieza">
              </ion-radio>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Precios de los platos</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="preciosR" class="ripple ripple-green" name="preciosR">
              </ion-radio>
            </div>
          </div>
        </ion-scroll>
      </div>
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header">
        <h2>Factores Ambientales</h2>
      </div>


      <div class="item" >
        <ion-scroll direction="x" id="scroll-x">
          <div class="row row-table-col">
            <div class="col col-75">Factores Ambientales </div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <span ng-if="!$last">{{$index+1}}</span> 
              <span ng-if="$last">Sin respuesta</span>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Limpieza y aseo en los municipios </div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="aseo" class="ripple ripple-green" name="aseo">
              </ion-radio>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Limpieza y conservación</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="conservacion" class="ripple ripple-green" name="conservacion">
              </ion-radio>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Calidad del agua potable</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="potable" class="ripple ripple-green" name="potable">
              </ion-radio>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Higiene y limpieza</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="hospitalidad" class="ripple ripple-green" name="hospitalidad">
              </ion-radio>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Trato que reciben los turistas</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="turistas" class="ripple ripple-green" name="turistas">
              </ion-radio>
            </div>
          </div>
        </ion-scroll>
      </div>
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header">
        <h2>Ocio, recreación y tiempo libre</h2>
      </div>

      <div class="item" >
        <ion-scroll direction="x" id="scroll-x">
          <div class="row row-table-col">
            <div class="col col-75">Ocio, recreación y tiempo libre</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <span ng-if="!$last">{{$index+1}}</span> 
              <span ng-if="$last">Sin respuesta</span>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Actividades culturales</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="culturales" class="ripple ripple-green" name="culturales">
              </ion-radio>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Actividades deportivas</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="deportivas" class="ripple ripple-green" name="deportivas">
              </ion-radio>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Parques públicos</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="parques" class="ripple ripple-green" name="parques">
              </ion-radio>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Discotecas, bares, casinos</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="bares" class="ripple ripple-green" name="bares">
              </ion-radio>
            </div>
          </div>
        </ion-scroll>
      </div>
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header">
        <h2>Infraestructura</h2>
      </div>

      <div class="item" >
        <ion-scroll direction="x" id="scroll-x">
          <div class="row row-table-col">
            <div class="col col-75">Infraestructura</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <span ng-if="!$last">{{$index+1}}</span> 
              <span ng-if="$last">Sin respuesta</span>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Estado de carreteras</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="carreteras" class="ripple ripple-green" name="carreteras">
              </ion-radio>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Transporte local</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="local" class="ripple ripple-green" name="local">
              </ion-radio>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Seguridad</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="seguridad" class="ripple ripple-green" name="seguridad">
              </ion-radio>
            </div>
          </div>

          <div class="row row-table-col">
            <div class="col col-75">Dificultad para llegar</div>
            <div class="col col-20" ng-repeat="n in [] | range:10">
              <ion-radio ng-value="{{$index+1}}" ng-model="dificultad" class="ripple ripple-green" name="dificultad">
              </ion-radio>
            </div>
          </div>
        </ion-scroll>
      </div>
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required ">
        <h2>¿Cuál fue el atractivo y/o el elemento de la ciudad que más llamó su atención?</h2>
      </div>
      <div class="item">
        <ion-checkbox class="ripple ripple-green" ng-model="data.pibe">
          La estatua de Carlos “El Pibe” Valderrama
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.indigenas">
          Artesanías y vestido Kogui (Indígenas)
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.bohios"> 
          Bohíos (Casa de paja y bareke autóctona indígena)
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.banano">
          El banano
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.mar">
          Fiestas del Mar
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.trato"> 
          Trato (carácter, personalidad) de las personas
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.caiman">
          Fiestas del caimán
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.plaza">
          Plaza central de ciénaga
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.infraestructura">
          Infraestructura de los municipios/pueblos visitados
        </ion-checkbox>

        <ion-checkbox class="ripple ripple-green" ng-model="data.otro" ng-checked="otro">
          Otro
        </ion-checkbox>

        <label class="item item-input item-floating-label" >
          <span class="input-label" >Otro</span>
          <input type="text" placeholder="Otro" required ng-model="otro">
        </label>
        <br>
      </div>                      
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header">
        <h2>¿Qué recomendaría para lograr atraer más visitantes al Magdalena?</h2>
      </div>

      <label class="item item-input item-floating-label">
        <span class="input-label" >Escriba aquí su recomendación</span>
        <textarea placeholder="Escriba aquí su recomendación" rows="5"></textarea>
      </label>
      <br>
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required">
        <h2> Experiencia de viaje</h2>
      </div>
      <label class="item">               
        <ion-radio ng-value="{{$index+1}}" ng-model="experiencia" class="ripple ripple-green" name="experiencia" ng-repeat="n in [] | range:10">
          {{$index+1}}
        </ion-radio>
      </label>
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required">
        <h2>¿Volvería a visitar el departamento del Magdalena?</h2>
      </div>
      <label class="item">               
        <ion-radio ng-value="1" ng-model="volveria" class="ripple ripple-green" name="volveria">
          Si
        </ion-radio>

        <ion-radio ng-value="2" ng-model="volveria" class="ripple ripple-green" name="volveria">
          No
        </ion-radio>

        <ion-radio ng-value="3" ng-model="volveria" class="ripple ripple-green" name="volveria">
          No estoy seguro
        </ion-radio>
      </label>
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required">
        <h2>¿Recomendaría visitar el departamento del Magdalena?</h2>
      </div>
      <label class="item">               
        <ion-radio ng-value="1" ng-model="recomendaria" class="ripple ripple-green" name="recomendaria">
          Si
        </ion-radio>

        <ion-radio ng-value="2" ng-model="recomendaria" class="ripple ripple-green" name="recomendaria">
          No
        </ion-radio>

        <ion-radio ng-value="3" ng-model="recomendaria" class="ripple ripple-green" name="recomendaria">
          No estoy seguro
        </ion-radio>
      </label>
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header required">
        <h2> ¿Cuántas veces ha venido al Magdalena en los últimos dos años?</h2>
      </div>
      <label class="item">               
        <ion-radio ng-value="{{$index+1}}" ng-model="experiencia" class="ripple ripple-green" name="experiencia" ng-repeat="n in [] | range:11">
          <span ng-if="!$last">{{$index+1}}</span> 
          <span ng-if="$last">10+</span>
        </ion-radio>
      </label>
    </div>



    <br><br><br>
  </ion-content>



  <div class="popup-menu">
    <div class="popup-menu-overlay" ng-class="{'in': menu_is_open}" ng-click="togglePopupMenu()"></div>
    <i class="ion ion-grid popup-menu-toggle" ng-click="togglePopupMenu()" ng-class="{'out': menu_is_open}"></i>
    <div class="popup-menu-panel" ng-class="{'in': menu_is_open}">
      <a class="popup-menu-item ripple ripple-green" href="#/app/general" ng-click="togglePopupMenu()">
        <i class="ion ion-information-circled"></i>
        <span>General</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/estancia" ng-click="togglePopupMenu()">
        <i class="ion ion-clock"></i>
        <span>Estancia</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/transporte" ng-click="togglePopupMenu()">
        <i class="ion ion-model-s"></i>
        <span>Transporte</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/grupo" ng-click="togglePopupMenu()">
        <i class="ion ion-ios-people"></i>
        <span>Grupo</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/gastos" ng-click="togglePopupMenu()">
        <i class="ion-cash"></i>
        <span>Gastos</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/percepcion" ng-click="togglePopupMenu()">
        <i class="ion ion-person-add"></i>
        <span>Percepción</span>
      </a>
      <a class="popup-menu-item ripple ripple-green" href="#/app/enteran" ng-click="togglePopupMenu();">
        <i class="ion ion-speakerphone"></i>
        <span>Redes e internet</span>
      </a>
    </div>
  </div>

  <div class="progress-container">
    <round-progress
    max="100"
    current="83"
    color="#16469e"
    bgcolor="#c9cdff"
    radius="10"
    stroke="1"
    semi="false"
    rounded="false"
    clockwise="true"
    responsive="true"
    duration="800"
    animation="easeInOutQuart"
    animation-delay="2">

    </round-progress>
    <div class="progress-text">

      <span class="progress-percent">83%</span>
    </div>
  </div>

</ion-view>
