<ion-view view-title="Lista de proveedores">
  <div class="bar bar-subheader bar-custom item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="text" placeholder="Buscar encuesta..." ng-model="search">
    </label>
    <button class="button button-clear  button-has-search" ng-if="search">
      <i class="ion-close"></i>
      <span>Cancelar</span>
    </button>
  </div>
  <ion-content class="has-subheader">
    <div class="card">   
      <div class="item item-divider situr-header">
        <h2>Lista de proveedores</h2>
      </div>
      <div class="item" >
        <ion-scroll direction="x" id="scroll-x">
          <div class="row row-table">
            <div class="col col-25">Id</div>
            <div class="col col-75">Nombre</div>
            <div class="col col-75">Tipo</div>
            <div class="col col-75">Encargado</div>
            <div class="col col-50">Celular</div>
            <div class="col col-75"></div>
          </div>
          <div class="row row-table-col" ng-repeat="n in [] | range:3">
            <div class="col col-25">{{$index+1}}</div>
            <div class="col col-75">1402 CONDOMINIO NUEVO RODADERO</div>
            <div class="col col-75">Vivienda turística</div>
            <div class="col col-75">Martha Palencia</div>
            <div class="col col-50">3114497022</div>

            <div class="col col-75">
              <a class="button button-outline button-stable ripple ripple-green" href="" ng-click="modal.show()"><i class="ion-edit"></i></a>
              <a class="button button-outline button-positive ripple ripple-green" href="#/app/encuestaSitio"><i class="ion-eye"></i></a>
              <a class="button button-outline button-assertive ripple ripple-green" href="" ng-click="desactivar()"><i class="ion-ios-trash"></i></a>
            </div>
          </div>
        </ion-scroll>
      </div> 
    </div> 
  </ion-content> 

  <div class="fixed-action-btn" style="bottom: 0px; right: 0px;">
    <a href="" ng-click="modal2.show()">
      <button class="botonF1 button ripple ripple-light button-positive animated zoomIn">
        <i class="icon ion-plus"></i>
      </button>
    </a>
  </div> 
</ion-view>
