<ion-view view-title="Temporadas">
  <div class="bar bar-subheader bar-custom item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="text" placeholder="Buscar encuesta..." ng-model="search">
    </label>
  </div>
  <ion-content class="has-subheader">
    <div class="card list animated fadeInLeft" ng-repeat="item in temporadas| filter:search" ng-class="{true:'active-card', false:'inactive-card'}[item.Estado]" ng-if="item.Estado">
      <div class="item">
        <h2>{{item.Nombre}}</h2>
        <p>{{item.Name}}</p>
        <p>{{item.Fecha_ini | date:'MM/dd/yyyy'}} - {{item.Fecha_fin | date:'MM/dd/yyyy'}}</p>
        <div class="pull-right">
          <a class="ripple ripple-green button button-outline button-positive button-small" href="#/app/verTemporada/{{item.id}}"><i class="ion-eye"></i></a>
        </div>
      </div>
    </div>
  </ion-content> 
</ion-view>
