<ion-view view-title="Transporte utilizado">
	<ion-content>
		<div class="card animated bounceInUp">
			<div class="item item-divider situr-header required">
				<h2> ¿Qué tipo de transporte utilizó para llegar al departamento del Magdalena?</h2>
			</div>
			<label class="item">             	 
				<ion-radio ng-value="1" ng-model="transporte" class="ripple ripple-green" name="transporte">
					Vehículo propio
				</ion-radio>

				<ion-radio ng-value="2" ng-model="transporte" class="ripple ripple-green" name="transporte">
					Vehículo de amigos o familiares
				</ion-radio>  

				<ion-radio ng-value="3" ng-model="transporte" class="ripple ripple-green" name="transporte">
					Transporte terrestre de excursiones y/o planes turísticos
				</ion-radio>  

				<ion-radio ng-value="4" ng-model="transporte" class="ripple ripple-green" name="transporte">
					Transporte aéreo
				</ion-radio> 

				<ion-radio ng-value="5" ng-model="transporte" class="ripple ripple-green" name="transporte">
					Alquiler de vehículo
				</ion-radio> 

				<ion-radio ng-value="6" ng-model="transporte" class="ripple ripple-green" name="transporte">
					Transporte terrestre de pasajeros (bus, buseta, taxi, automóvil) 
				</ion-radio> 

				<ion-radio ng-value="7" ng-model="transporte" class="ripple ripple-green" name="transporte">
					Vehículo del trabajo
				</ion-radio>

				<ion-radio ng-value="8" ng-model="transporte" class="ripple ripple-green" name="transporte">
					Transporte Marítimo (Lancha, yate)
				</ion-radio>

				<ion-radio ng-value="9" ng-model="transporte" class="ripple ripple-green" name="transporte">
					Crucero
				</ion-radio>    


			</label>
		</div>

		<div class="card animated bounceInUp" ng-if="transporte==6">
			<div class="item item-divider situr-header">
				<h2>¿Cuál es el nombre de la empresa de transporte terrestre de pasajeros utilizado desde una ciudad de Colombia al Magdalena?</h2>
			</div>
			<label class="item item-input item-floating-label">
				<span class="input-label" >Nombre de la empresa</span>
				<input type="text" placeholder="Nombre de la empresa" required>
			</label><br>
		</div>

		<div class="card animated bounceInUp">
			<div class="item item-divider situr-header required">
				<h2>¿Cuál fue el transporte utilizado la mayor parte del tiempo para desplazarse por el departamento?</h2>
			</div>
			<label class="item">             	 
				<ion-radio ng-value="1" ng-model="transporteM" class="ripple ripple-green" name="transporteM">
					Vehículo propio
				</ion-radio>

				<ion-radio ng-value="2" ng-model="transporteM" class="ripple ripple-green" name="transporteM">
					Vehículo de amigos o familiares
				</ion-radio>  

				<ion-radio ng-value="3" ng-model="transporteM" class="ripple ripple-green" name="transporteM">
					Transporte terrestre de excursiones y/o planes turísticos
				</ion-radio>  

				<ion-radio ng-value="4" ng-model="transporteM" class="ripple ripple-green" name="transporteM">
					Transporte aéreo
				</ion-radio> 

				<ion-radio ng-value="5" ng-model="transporteM" class="ripple ripple-green" name="transporteM">
					Alquiler de vehículo
				</ion-radio> 

				<ion-radio ng-value="6" ng-model="transporteM" class="ripple ripple-green" name="transporteM">
					Transporte terrestre de pasajeros (bus, buseta, taxi, automóvil) 
				</ion-radio> 

				<ion-radio ng-value="7" ng-model="transporteM" class="ripple ripple-green" name="transporteM">
					Vehículo del trabajo
				</ion-radio>

				<ion-radio ng-value="8" ng-model="transporteM" class="ripple ripple-green" name="transporteM">
					Transporte Marítimo (Lancha, yate)
				</ion-radio>

				<ion-radio ng-value="9" ng-model="transporteM" class="ripple ripple-green" name="transporteM">
					A pie
				</ion-radio>    
			</label>
		</div>

		<div class="card animated bounceInUp" ng-if="transporteM==5">
			<div class="item item-divider situr-header required">
				<h2>El alquiler de vehículo fue realizado en:</h2>
			</div>
			<label class="item">
				<ion-radio ng-value="7" ng-model="tipoTransporte" class="ripple ripple-green" name="tipoTransporte">
					En el Magdalena
				</ion-radio>

				<ion-radio ng-value="8" ng-model="tipoTransporte" class="ripple ripple-green" name="tipoTransporte">
					Fuera del Magdalena
				</ion-radio>

				<ion-radio ng-value="9" ng-model="tipoTransporte" class="ripple ripple-green" name="tipoTransporte">
					Extranjero
				</ion-radio>
			</label>
		</div>
		<br><br><br>
	</ion-content>

	<div class="popup-menu">
		<div class="popup-menu-overlay" ng-class="{'in': menu_is_open}" ng-click="togglePopupMenu()"></div>
		<i class="ion ion-grid popup-menu-toggle" ng-click="togglePopupMenu()" ng-class="{'out': menu_is_open}"></i>
		<div class="popup-menu-panel" ng-class="{'in': menu_is_open}">
			<a class="popup-menu-item ripple ripple-green" href="#/app/general" ng-click="togglePopupMenu()">
				<i class="ion ion-information-circled"></i>
				<span>General</span>
			</a>
			<a class="popup-menu-item ripple ripple-green" href="#/app/estancia" ng-click="togglePopupMenu()">
				<i class="ion ion-clock"></i>
				<span>Estancia</span>
			</a>
			<a class="popup-menu-item ripple ripple-green" href="#/app/transporte" ng-click="togglePopupMenu()">
				<i class="ion ion-model-s"></i>
				<span>Transporte</span>
			</a>
			<a class="popup-menu-item ripple ripple-green" href="#/app/grupo" ng-click="togglePopupMenu()">
				<i class="ion ion-ios-people"></i>
				<span>Grupo</span>
			</a>
			<a class="popup-menu-item ripple ripple-green" href="#/app/gastos" ng-click="togglePopupMenu()">
				<i class="ion-cash"></i>
				<span>Gastos</span>
			</a>
			<a class="popup-menu-item ripple ripple-green" href="#/app/percepcion" ng-click="togglePopupMenu()">
				<i class="ion ion-person-add"></i>
				<span>Percepción</span>
			</a>
			<a class="popup-menu-item ripple ripple-green" href="#/app/enteran" ng-click="togglePopupMenu();">
				<i class="ion ion-speakerphone"></i>
				<span>Redes e internet</span>
			</a>
		</div>
	</div>

	<div class="progress-container">
		<round-progress
		max="100"
		current="33"
		color="#16469e"
		bgcolor="#c9cdff"
		radius="10"
		stroke="1"
		semi="false"
		rounded="false"
		clockwise="true"
		responsive="true"
		duration="800"
		animation="easeInOutQuart"
		animation-delay="2">
		</round-progress>
		<div class="progress-text">
			<span class="progress-percent">33%</span>
		</div>
	</div>
</ion-view>
