<ion-view view-title="Ver grupo de viaje">
  <ion-content>
    <div class="card animated bounceInUp" >
      <div class="item item-divider situr-header">
        <h2>Fecha de aplicación</h2>
      </div>
      <div class="item">
        11/04/2018 7:00AM
      </div>
    </div>

    <div class="card animated bounceInUp" >
      <div class="item item-divider situr-header">
        <h2>Lugar de aplicación</h2>
      </div>

      <label class="item">
        3 - Casa Aduana  
      </label>

    </div>

    <div class="card animated bounceInUp" >
      <div class="item item-divider situr-header">
        <h2>Personas encuestadas</h2>
      </div>
      <label class="item">
        2
      </label>
    </div>

    <div class="card animated bounceInUp">
      <div class="item item-divider situr-header">
        <h2>Tipo de viaje</h2>
      </div>
      <label class="item">               
        Viaje de negocios 
      </label>
    </div>

    <div class="card animated bounceInUp" >
      <div class="item item-divider situr-header">
        <h2>Tamaño del grupo de viaje</h2>
      </div>
      <label class="item">
        Mayores de 15 años PRES: 2
      </label>
      <label class="item">
        Menores de 15 años PRES: 0
      </label>
      <label class="item">
        Mayores de 15 años NO PRES: 0
      </label>
      <label class="item">
        Menores de 15 años NO PRES: 0
      </label>
      <label class="item">
        Personas del Magdalena: 2
      </label>
      <label class="item">
        <h2>Total: 2</h2>
      </label>
    </div>

    <div class="card animated bounceInUp" >
      <div class="item item-divider situr-header required">
        <h2>Encuestas del grupo</h2>
      </div>
      <div class="item" >
        <ion-scroll direction="x" id="scroll-x">
          <div class="row row-table">
            <div class="col col-33">Id</div>
            <div class="col col-50">Nombre</div>
            <div class="col col-33">Sexo</div>
            <div class="col col-50">Email</div>
            <div class="col col-33">Estado</div>
            <div class="col col-33"></div>
          </div>
          <div class="row row-table-col">
            <div class="col col-33">31094</div>
            <div class="col col-50">Jefersson Bustamante </div>
            <div class="col col-33">M</div>
            <div class="col col-50">Jeferb93@gmail.com </div>
            <div class="col col-33">Terminada</div>
            <div class="col col-33"><a href="#/app/general">Editar</a></div>
          </div>


        </ion-scroll>
      </div>
    </div>

    <br><br><br>
  </ion-content>

  <div class="fixed-action-btn" style="bottom: 0px; right: 0px;">
    <a href="#/app/general">
      <button class="botonF1 button ripple ripple-light button-positive animated zoomIn">
        <i class=" ion-plus"></i>
      </button>
    </a>
  </div> 

  <div class="fixed-action-btn" style="bottom: 65px; right: 0px;">
    <a href="#/app/nuevoGrupo">
      <button class="botonF1 button ripple ripple-light button-positive animated zoomIn">
        <i class=" ion-edit"></i>
      </button>
    </a>
  </div> 

</ion-view>
