<ion-view view-title="Actividades Realizadas">
  <ion-content>
  <div class="card animated fadeInLeft list" ng-if="errores">
    <div class="item item-divider situr-header-error">
        <h2>Corrige los errores</h2>
    </div>
    <div class="assertive item errors" ng-repeat="error in errores">
      {{error[0]}}
    </div>
  </div>

  <form role="form" name="forms.EstanciaForm" novalidate>  
    <div class="card animated fadeInLeft">
      <div class="item item-divider situr-header required">
        <h2>¿Qué actividades realizó en el Atlántico?</h2>
      </div>
      <div ng-repeat="item in Datos.Actividadesrelizadas">
        <ion-checkbox 
          name= "actividadesr"  
          class="ripple ripple-green"
          ng-click="toggleSelection(item, $event);cambioActividadesRealizadas(item);"
          ng-checked="checked_object_id(item.id, encuesta.ActividadesRelizadas)"
          ng-disabled="checked_object_id(18, encuesta.ActividadesRelizadas) && item.id!=18"
        >
          {{item.actividades_realizadas_con_idiomas[0].nombre}}
          <span class="validated" ng-show="forms.EstanciaForm.$submitted || forms.EstanciaForm.actividadesr.$touched">
            <!--EncuestaEstanciaP2Alert1. Debe seleccionar alguno de los valores-->
            <span ng-show="encuesta.ActividadesRelizadas.length == 0">*</span>
        </span>
        </ion-checkbox>
        <label class="item item-input item-floating-label" ng-if="item.actividades_realizadas_con_idiomas[0].nombre == 'Otro'" >
          <span class="input-label" >Otro</span>
          <input 
            type="text" 
            placeholder="Otro"  
            name ="opcionp{{item.id}}" 
            id="opcionp{{item.id}}" 
            ng-model="Actividad(item.id).otro" 
            ng-disabled="!existeActividad(item.id)" 
            ng-required="existeActividad(item.id)" />
            <span class="validated" ng-show="forms.EstanciaForm.$submitted || forms.EstanciaForm.opcionp{{item.id}}.$touched">
              <span ng-show="forms.EstanciaForm.opcionp{{item.id}}.$error.required">* </span>
            </span>
        </label>

       
      </div>        	          	
    </div>

    <div class="card animated fadeInLeft" ng-repeat = "opcion in encuesta.ActividadesRelizadas" ng-if="opcion.opciones_actividades_realizadas_internos.length > 0">
      <div class="item item-divider situr-header required">
        <h2>¿Qué {{opcion.actividades_realizadas_con_idiomas[0].nombre}}?</h2>
      </div>
      <div ng-repeat="opcion2 in opcion.opciones_actividades_realizadas_internos">
        <ion-checkbox 
          class="ripple ripple-green"
          ng-click="toggleSelection2(opcion2);"
          ng-checked="checked_object_id(opcion2.id, encuesta.OpcionesActividades)">
          {{opcion2.nombre}}
          <span class="validated" ng-show="forms.EstanciaForm.$submitted || forms.EstanciaForm.opcion2.$touched">
            <span ng-show="requeridoOpciones(opcion.opciones_actividades_realizadas_internos)">*</span>
        </span>
        </ion-checkbox>
        <label class="item item-input item-floating-label" ng-if="opcion2.nombre == 'Otro'">
          <span class="input-label" >Otro</span>
          <input 
            type="text" 
            placeholder="Otro"  
            name ="opcion{{opcion2.id}}"  
            id="opcion{{opcion2.id}}" 
            ng-model="Opcion(opcion2.id).otro"
            ng-disabled="!existeOpcion(opcion2.id)" 
            ng-required="existeOpcion(opcion2.id)" />
            <span class="validated" ng-show="forms.EstanciaForm.$submitted || forms.EstanciaForm.opcion{{opcion2.id}}.$touched">
              <span ng-show="forms.EstanciaForm.opcion{{opcion2.id}}.$error.required">*</span>
            </span>

        </label>  
      </div>               
    </div>

    <div class="row">
      <div class="col col-50">
        <!--href="#/app/viajePrincipal/{{id}}"-->
        <a  class="button button-outline button-positive ripple ripple-green button-block" >
          Anterior
        </a>
      </div>
      <div class="col col-50">
        <button type="submit" ng-click="guardar()" class=" button button-positive ripple ripple-light button-block" >
          Guardar
        </button>
      </div>
    </div>
  </form>

  

  
  
  <br><br><br>
</ion-content>



<!--<div class="popup-menu">
  <div class="popup-menu-overlay" ng-class="{'in': menu_is_open}" ng-click="togglePopupMenu()"></div>
  <i class="ion ion-grid popup-menu-toggle" ng-click="togglePopupMenu()" ng-class="{'out': menu_is_open}"></i>
  <div class="popup-menu-panel" ng-class="{'in': menu_is_open}">
    <a class="popup-menu-item ripple ripple-green" href="#/app/general" ng-click="togglePopupMenu()">
      <i class="ion ion-information-circled"></i>
      <span>General</span>
    </a>
    <a class="popup-menu-item ripple ripple-green" href="#/app/estancia" ng-click="togglePopupMenu()">
      <i class="ion ion-clock"></i>
      <span>Estancia</span>
    </a>
    <a class="popup-menu-item ripple ripple-green" href="#/app/transporte" ng-click="togglePopupMenu()">
      <i class="ion ion-model-s"></i>
      <span>Transporte</span>
    </a>
    <a class="popup-menu-item ripple ripple-green" href="#/app/grupo" ng-click="togglePopupMenu()">
      <i class="ion ion-ios-people"></i>
      <span>Grupo</span>
    </a>
    <a class="popup-menu-item ripple ripple-green" href="#/app/gastos" ng-click="togglePopupMenu()">
      <i class="ion-cash"></i>
      <span>Gastos</span>
    </a>
    <a class="popup-menu-item ripple ripple-green" href="#/app/percepcion" ng-click="togglePopupMenu()">
      <i class="ion ion-person-add"></i>
      <span>Percepción</span>
    </a>
    <a class="popup-menu-item ripple ripple-green" href="#/app/enteran" ng-click="togglePopupMenu();">
      <i class="ion ion-speakerphone"></i>
      <span>Redes e internet</span>
    </a>
  </div>
</div>
-->
<div class="progress-container">
  <round-progress
  max="100"
  current="40"
  color="#16469e"
  bgcolor="#c9cdff"
  radius="10"
  stroke="1"
  semi="false"
  rounded="false"
  clockwise="true"
  responsive="true"
  duration="800"
  animation="easeInOutQuart"
  animation-delay="2">

  </round-progress>
  <div class="progress-text">
    <span class="progress-percent">40%</span>
  </div>
</div>

</ion-view>
