<ion-view view-title="Temporadas">
  <div class="bar bar-subheader bar-custom item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="text" placeholder="Buscar encuesta..." ng-model="search">
    </label>
  </div>
  <ion-content class="has-subheader">

    <div class="card padding animated fadeInLeft">
      <button 
        class="button button-positive button-small button-outline ripple ripple-green" 
        ng-disabled="currentPage == 0" 
        ng-click="currentPage=currentPage-1">
        <i class="icon ion-ios-arrow-back"></i>
      
      </button>
      <span class="ion-badges ion-badges-grand">{{currentPage+1}}/{{numberOfPages((temporadas| filter:filtroEstadoEncuesta.value | filter:campoSelected.value |filter:search))}}</span>
      <button 
        class="button button-positive button-small button-outline ripple ripple-green"
        ng-disabled="currentPage >= (temporadas| filter:filtroEstadoEncuesta.value | filter:campoSelected.value |filter:search).length/pageSize - 1" 
        ng-click="currentPage=currentPage+1">

        <i class="icon ion-ios-arrow-forward"></i>
      </button>
      <span class="ion-badges" style="float: right;">
        {{(temporadas| filter:filtroEstadoEncuesta.value | filter:campoSelected.value |filter:search).length}} resultados
      </span>
    </div>


    <div class="card list animated fadeInLeft" 
      ng-repeat="item in temporadas| filter:search | firstPage:currentPage*pageSize | limitTo:pageSize" ng-class="{true:'active-card', false:'inactive-card'}[item.Estado]" ng-if="item.Estado">
      <div class="item">
        <h2>{{item.Nombre}}</h2>
        <p>{{item.Name}}</p>
        <p>{{item.Fecha_ini | date:'MM/dd/yyyy'}} - {{item.Fecha_fin | date:'MM/dd/yyyy'}}</p>
        <div class="pull-right">
          <a class="ripple ripple-green button button-outline button-positive button-small" href="#/app/verTemporada/{{item.id}}/{{is_offline}}"><i class="ion-eye"></i></a>
        </div>
      </div>
    </div>

    <div class="card padding animated fadeInLeft">
      <button 
        class="button button-positive button-small button-outline ripple ripple-green" 
        ng-disabled="currentPage == 0" 
        ng-click="currentPage=currentPage-1">
        <i class="icon ion-ios-arrow-back"></i>
      
      </button>
      <span class="ion-badges ion-badges-grand">{{currentPage+1}}/{{numberOfPages((temporadas| filter:filtroEstadoEncuesta.value | filter:campoSelected.value |filter:search))}}</span>
      <button 
        class="button button-positive button-small button-outline ripple ripple-green"
        ng-disabled="currentPage >= (temporadas| filter:filtroEstadoEncuesta.value | filter:campoSelected.value |filter:search).length/pageSize - 1" 
        ng-click="currentPage=currentPage+1">

        <i class="icon ion-ios-arrow-forward"></i>
      </button>
      <span class="ion-badges" style="float: right;">
        {{(temporadas| filter:filtroEstadoEncuesta.value | filter:campoSelected.value |filter:search).length}} resultados
      </span>
    </div>
  </ion-content> 

   <div class="fixed-action-btn" style="bottom: 0px; right: 0px;" ng-if="interno_off.length>0">
    <button class="botonF1 button ripple ripple-green button-dark animated zoomIn" ng-click="modal.show()">
      <i class="ion-clipboard"></i>
    </button>
  </div> 
</ion-view>
