<ion-view view-title="Ver temporada">
  <div class="bar bar-subheader bar-custom item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="text" placeholder="Buscar..." ng-model="search">
    </label>
  </div>
  <ion-content class="has-subheader">

    <div class="card animated fadeInLeft" ng-if="datos">   
      <div class="item item-divider situr-header">
        <h2>Temporada</h2>

      </div>
      <div class="item" >
        <h2>{{datos.Nombre}}</h2>
        <p>{{datos.Name}}</p>
        <p>{{datos.Fecha_ini | date:'MM/dd/yyyy'}} - {{datos.Fecha_fin | date:'MM/dd/yyyy'}}</p>
      </div> 
    </div>
    

    <div class="card animated fadeInLeft" ng-show="active_content=='hogar'" ng-if="datos">
      <div class="item item-divider situr-header">
        <h2>Hogares</h2>
      </div>
     
      <div class="card padding animated fadeInLeft">
        <button 
          class="button button-positive button-small button-outline ripple ripple-green" 
          ng-disabled="currentPage == 0" 
          ng-click="currentPage=currentPage-1">
          <i class="icon ion-ios-arrow-back"></i>
        
        </button>
        <span class="ion-badges ion-badges-grand">{{currentPage+1}}/{{numberOfPages((datos.Hogares| filter:filtroEstadoEncuesta.value | filter:campoSelected.value |filter:search))}}</span>
        <button 
          class="button button-positive button-small button-outline ripple ripple-green"
          ng-disabled="currentPage >= (datos.Hogares| filter:filtroEstadoEncuesta.value | filter:campoSelected.value |filter:search).length/pageSize - 1" 
          ng-click="currentPage=currentPage+1">

          <i class="icon ion-ios-arrow-forward"></i>
        </button>
        <span class="ion-badges" style="float: right;">
          {{(datos.Hogares| filter:filtroEstadoEncuesta.value | filter:campoSelected.value |filter:search).length}} resultados
        </span>
      </div>

      <div class="card animated fadeInLeft" ng-if="datos" ng-repeat="item in datos.Hogares | filter:search | firstPage:currentPage*pageSize | limitTo:pageSize"">
        <div class="item item-divider situr-header"></div>
        <div class="item" >
          <h2>{{item.edificacione.barrio.nombre}}</h2>
          <p>Barrio</p>
          <hr>
          <h2>{{item.edificacione.direccion}}</h2>
          <p>Dirección</p>
          <hr>
          <h2>{{item.edificacione.estrato.nombre}}</h2>
          <p>Estrato</p>
          <hr>
          <h2>{{item.digitadore.asp_net_user.email}}</h2>
          <p>Encuestador</p>
          <hr>
          <h2>{{item.edificacione.nombre_entrevistado}}</h2>
          <p>Nombre entrevistado</p>
          <hr>
          <h2>{{item.fecha_realizacion | date:'yyyy/MM/dd HH:mm'}}</h2>
          <p>Fecha aplicación</p>
          <div class="pull-right">
            <a class="ripple ripple-green button button-outline button-positive button-small" href="#/app/editHogar/{{item.id}}"><i class="ion-edit"></i></a>
          </div>
        </div> 
      </div>

      <div class="card padding animated fadeInLeft">
        <button 
          class="button button-positive button-small button-outline ripple ripple-green" 
          ng-disabled="currentPage == 0" 
          ng-click="currentPage=currentPage-1">
          <i class="icon ion-ios-arrow-back"></i>
        
        </button>
        <span class="ion-badges ion-badges-grand">{{currentPage+1}}/{{numberOfPages((datos.Hogares| filter:filtroEstadoEncuesta.value | filter:campoSelected.value |filter:search))}}</span>
        <button 
          class="button button-positive button-small button-outline ripple ripple-green"
          ng-disabled="currentPage >= (datos.Hogares| filter:filtroEstadoEncuesta.value | filter:campoSelected.value |filter:search).length/pageSize - 1" 
          ng-click="currentPage=currentPage+1">

          <i class="icon ion-ios-arrow-forward"></i>
        </button>
        <span class="ion-badges" style="float: right;">
          {{(datos.Hogares| filter:filtroEstadoEncuesta.value | filter:campoSelected.value |filter:search).length}} resultados
        </span>
      </div>

    </div>


    <div class="card" ng-show="active_content=='personas'">
      <div class="item item-divider situr-header">
        <h2>Encuestas</h2>
      </div>

      <div class="card padding animated fadeInLeft">
        <button 
          class="button button-positive button-small button-outline ripple ripple-green" 
          ng-disabled="currentPage == 0" 
          ng-click="currentPage=currentPage-1">
          <i class="icon ion-ios-arrow-back"></i>
        
        </button>
        <span class="ion-badges ion-badges-grand">{{currentPage+1}}/{{numberOfPages((encuestas | filter:filtroEstadoEncuesta.value | filter:campoSelected.value |filter:search))}}</span>
        <button 
          class="button button-positive button-small button-outline ripple ripple-green"
          ng-disabled="currentPage >= (encuestas | filter:filtroEstadoEncuesta.value | filter:campoSelected.value |filter:search).length/pageSize - 1" 
          ng-click="currentPage=currentPage+1">

          <i class="icon ion-ios-arrow-forward"></i>
        </button>
        <span class="ion-badges" style="float: right;">
          {{(encuestas | filter:filtroEstadoEncuesta.value | filter:campoSelected.value |filter:search).length}} resultados
        </span>
      </div>

      <div class="card animated fadeInLeft" ng-if="encuestas" ng-repeat="item in encuestas | filter:search | firstPage:currentPage*pageSize | limitTo:pageSize">
        <div class="item item-divider situr-header"></div>
        <div class="item" >
          <h2>{{item.codigo_encuesta}}</h2>
          <p>Código encuesta</p>
          <hr>
          <h2>{{item.persona.hogare.fecha_realizacion}}</h2>
          <p>Fecha Realización</p>
          <hr>
          <h2>{{item.fecha_inicio}}</h2>
          <p>Fecha Inicio</p>
          <hr>
          <h2>{{item.fecha_final}}</h2>
          <p>Fecha Final</p>
          <hr>
          <h2>{{item.persona.hogare.digitadore.user.username}}</h2>
          <p>Encuestador</p>
          <hr>
          <h2>{{item.persona.hogare.edificacione.barrio.municipio.nombre}}</h2>
          <p>Municipio</p>
          <hr>
          <h2>{{item.persona.hogare.edificacione.barrio.nombre}}</h2>
          <p>Barrio</p>
          <hr>
          <h2>{{item.ultima_sesion}}</h2>
          <p>Ultima sección </p>
          <div class="pull-right">
            <a class="ripple ripple-green button button-outline button-positive button-small" href="#/app/viajeRealizado/{{item.id}}"><i class="ion-edit"></i></a>
          </div>
        </div>
      </div>

      <div class="card padding animated fadeInLeft">
        <button 
          class="button button-positive button-small button-outline ripple ripple-green" 
          ng-disabled="currentPage == 0" 
          ng-click="currentPage=currentPage-1">
          <i class="icon ion-ios-arrow-back"></i>
        
        </button>
        <span class="ion-badges ion-badges-grand">{{currentPage+1}}/{{numberOfPages((encuestas | filter:filtroEstadoEncuesta.value | filter:campoSelected.value |filter:search))}}</span>
        <button 
          class="button button-positive button-small button-outline ripple ripple-green"
          ng-disabled="currentPage >= (encuestas | filter:filtroEstadoEncuesta.value | filter:campoSelected.value |filter:search).length/pageSize - 1" 
          ng-click="currentPage=currentPage+1">

          <i class="icon ion-ios-arrow-forward"></i>
        </button>
        <span class="ion-badges" style="float: right;">
          {{(encuestas | filter:filtroEstadoEncuesta.value | filter:campoSelected.value |filter:search).length}} resultados
        </span>
      </div>
      
    </div>

    <br><br><br><br>
  </ion-content> 
  <div class="tabs-striped tabs-custom">
    <div class="tabs">
      <a class="tab-item ripple ripple-light" ng-class="{active: active_content=='hogar'}" ng-click="setActiveContent('hogar')" href="">
        <i class="icon ion-home"></i>
        Hogares
      </a>
      <a class="tab-item ripple ripple-light" ng-class="{active: active_content=='personas'}" ng-click="setActiveContent('personas')" href="">
        <i class="icon ion-ios-people"></i>
        Personas
      </a>
    </div>
  </div>

  <div class="fixed-action-btn" style="bottom: 30px; right: 0px;">
    <a href="#/app/hogar/{{datos.id}}">
      <button class="botonF1 button ripple ripple-light button-positive animated zoomIn">
        <i class="icon ion-plus"></i>
      </button>
    </a>
  </div> 
</ion-view>
