<ion-view view-title="Viaje en grupo">
  <ion-content>
    <div class="card animated fadeInLeft list" ng-if="errores">
      <div class="item item-divider situr-header-error">
          <h2>Corrige los errores</h2>
      </div>
      <div class="assertive item" ng-repeat="error in errores">
        {{error[0]}}
      </div>
    </div>

    <form role="form" name="forms.grupoForm" novalidate>
      <div class="card animated fadeInLeft" >
        <div class="item item-divider situr-header required">
          <h2> ¿Cuántas personas incluyéndose usted, realizaron juntos el viaje desde la llegada hasta la salida del Atlántico?</h2>
        </div>
        <label class="item item-input item-floating-label">
          <span class="input-label" >Número de personas</span>
          <input 
            type="number" 
            placeholder="Número de personas" 
            min="1"  
            ng-model="grupo.Numero" 
            ng-change="verifica()" 
            ng-required="true">
          <span class="validated" ng-show="forms.grupoForm.$submitted || forms.grupoForm.numero.$touched">
              <span ng-show="forms.grupoForm.numero.$error.required">*</span>
          </span>
        </label>
      </div>

      <div class="card animated fadeInLeft">
        <div class="item item-divider situr-header required">
          <h2>¿Las personas anteriormente mencionadas son:</h2>
        </div>
     
        <div ng-repeat="item in viaje_grupos">
          <ion-checkbox class="ripple ripple-green" 
                        ng-disabled="(grupo.Numero == 1 && item.id != 1) || (grupo.Numero > 1 && item.id == 1) || grupo.Numero == null || grupo.Numero < 1" 
                        ng-click="toggleSelection(item.id, $event);vchek(item.id)",
                        ng-checked="checked(item.id, grupo.Personas)">
            {{item.tipos_acompaniante_con_idiomas[0].nombre}}

            <span class="validated" ng-show="forms.grupoForm.$submitted || forms.grupoForm.personas.$touched">
              <span ng-show="grupo.Personas.length == 0">*</span>
            </span>
          </ion-checkbox>
          <label class="item item-input item-floating-label" ng-if="item.id == 12" >
            <span class="input-label" >Otro</span>
            <input 
              type="text" 
              placeholder="Otro" 
              ng-model="grupo.Otro" 
              ng-disabled="grupo.Numero == null || grupo.Numero <= 1" 
              ng-change="verificarOtro()"  
              ng-required="grupo.Personas.indexOf(12) != -1">
              <span class="validated" ng-show="forms.grupoForm.$submitted || forms.grupoForm.personas.$touched">
                <span ng-show="forms.grupoForm.otro.$error.required">* </span>
              </span>
          </label>
        </div>           	          	
      </div>

      <div class="card animated fadeInLeft" ng-if="buscar(grupo.Personas, 9)">
        <div class="item item-divider situr-header required">
          <h2> ¿Cuántos eran los otros turístas?</h2>
        </div>
        <label class="item item-input item-floating-label">
          <span class="input-label" >Número de turistas</span>
          <input  
            type="number" 
            placeholder="Número de turistas" 
            name="numero_otros" 
            min="1" 
            class="form-control" 
            ng-model="grupo.Numero_otros"
            ng-required="grupo.Personas.indexOf(9) != -1">
            <span class="validated" ng-show="forms.grupoForm.$submitted || forms.grupoForm.numero_otros.$touched">
              <span ng-show="forms.grupoForm.numero_otros.$error.required">*</span>
            </span>
        </label>
      </div>
      <div class="row">
        <div class="col col-50">
          <a href="#/app/transporte/{{id}}" class="button button-outline button-positive ripple ripple-green button-block" >
            Anterior
          </a>
        </div>
        <div class="col col-50">
          <button type="submit" ng-click="guardar()" class=" button button-positive ripple ripple-light button-block" >
            Guardar
          </button>
        </div>
      </div>
    </form>
    <br><br><br>
  </ion-content>

<!--<div class="popup-menu">
  <div class="popup-menu-overlay" ng-class="{'in': menu_is_open}" ng-click="togglePopupMenu()"></div>
  <i class="ion ion-grid popup-menu-toggle" ng-click="togglePopupMenu()" ng-class="{'out': menu_is_open}"></i>
  <div class="popup-menu-panel" ng-class="{'in': menu_is_open}">
    <a class="popup-menu-item ripple ripple-green" href="#/app/general" ng-click="togglePopupMenu()">
      <i class="ion ion-information-circled"></i>
      <span>General</span>
    </a>
    <a class="popup-menu-item ripple ripple-green" href="#/app/estancia" ng-click="togglePopupMenu()">
      <i class="ion ion-clock"></i>
      <span>Estancia</span>
    </a>
    <a class="popup-menu-item ripple ripple-green" href="#/app/transporte" ng-click="togglePopupMenu()">
      <i class="ion ion-model-s"></i>
      <span>Transporte</span>
    </a>
    <a class="popup-menu-item ripple ripple-green" href="#/app/grupo" ng-click="togglePopupMenu()">
      <i class="ion ion-ios-people"></i>
      <span>Grupo</span>
    </a>
    <a class="popup-menu-item ripple ripple-green" href="#/app/gastos" ng-click="togglePopupMenu()">
      <i class="ion-cash"></i>
      <span>Gastos</span>
    </a>
    <a class="popup-menu-item ripple ripple-green" href="#/app/percepcion" ng-click="togglePopupMenu()">
      <i class="ion ion-person-add"></i>
      <span>Percepción</span>
    </a>
    <a class="popup-menu-item ripple ripple-green" href="#/app/enteran" ng-click="togglePopupMenu();">
      <i class="ion ion-speakerphone"></i>
      <span>Redes e internet</span>
    </a>
  </div>
</div>-->

<div class="progress-container">
  <round-progress
  max="100"
  current="50"
  color="#16469e"
  bgcolor="#c9cdff"
  radius="10"
  stroke="1"
  semi="false"
  rounded="false"
  clockwise="true"
  responsive="true"
  duration="800"
  animation="easeInOutQuart"
  animation-delay="2">
  </round-progress>
  <div class="progress-text">
    <span class="progress-percent">50%</span>
  </div>
</div>
</ion-view>
