<ion-view view-title="Transporte utilizado">
	<ion-content>

		<div class="card animated fadeInLeft list" ng-if="errores">
		  <div class="item item-divider situr-header-error">
		      <h2>Corrige los errores</h2>
		  </div>
		  <div class="assertive item" ng-repeat="error in errores">
		    {{error[0]}}
		  </div>
		</div>

		<form role="form" name="forms.transForm" novalidate>
			<div class="card animated fadeInLeft">
				<div class="item item-divider situr-header required">
					<h2> ¿Qué tipo de transporte utilizó para llegar al departamento del Atlántico?</h2>
				</div>
				<label ng-repeat="item in transportes"  >             	 
					<ion-radio 
						name="llegar" 
						ng-value="item.id" 
						ng-model="transporte.Llegar" 
						ng-required="true" 
						class="ripple ripple-green"
					>
						{{item.tipos_transporte_con_idiomas[0].nombre}}
						<span class="validated" ng-show="forms.transForm.$submitted || forms.transForm.llegar.$touched">
              <span ng-show="forms.transForm.llegar.$error.required">*</span>
            </span>
					</ion-radio>
					<label class="item item-input item-floating-label" ng-if="item.id==11 && transporte.Llegar==11">
	          <span class="input-label" >Otro</span>
	          <input 
	            type="text" 
	            placeholder="Otro" 		              
	            name="otroLlegar"
	            ng-model="transporte.otroLlegar"  
	            ng-required="transporte.Llegar==11">	
	            <span class="validated" ng-show="forms.transForm.$submitted || forms.transForm.llegar.$touched">
                <span ng-show="forms.transForm.otroLlegar.$error.required">* </span>
              </span>	              
	      	</label>
				</label>
			</div>

			<div class="card animated fadeInLeft">
				<div class="item item-divider situr-header required">
					<h2>¿Cuál fue el transporte utilizado la mayor parte del tiempo para desplazarse por el departamento?</h2>
				</div>
				<label ng-repeat="item in transportes" ng-if="item.Id != 9">             	 
					<ion-radio name="mover" ng-value="item.id" ng-model="transporte.Mover" ng-required="true">
						{{item.tipos_transporte_con_idiomas[0].nombre}}
						<span  class="validated" ng-show="forms.transForm.$submitted || forms.transForm.mover.$touched">
              <span ng-show="forms.transForm.mover.$error.required">*</span>
            </span>
					</ion-radio>
					<label class="item item-input item-floating-label"  ng-if="item.id==11 && transporte.Mover==11">
	          <span class="input-label" >Otro</span>
	          <input 
	            type="text" 
	            placeholder="Otro" 		              
	            name="otroMover"
	            ng-model="transporte.otroMover" 
	            ng-required="transporte.Mover==11" >		
	            <span  class="validated" ng-show="forms.transForm.$submitted || forms.transForm.mover.$touched">
                <span  ng-show="forms.transForm.otroMover.$error.required">*</span>
              </span>              
	        </label>
				</label>
			</div>

			<div class="card animated fadeInLeft">
				<div class="item item-divider situr-header ">
					<h2>En una escala de 1 a 10, donde 1 es Ninguna dificultad y 10 Mucha dificultad. ¿Qué tanta dificultad tuvo para llegar a Atlántico ?</h2>
				</div>
				<label ng-repeat="n in [] | range:10">
					<ion-radio type="radio" name="experiencia" ng-model="transporte.Calificacion" value="{{$index+1}}">
						{{$index+1}}
					</ion-radio>
					
				</label>
			</div>

			<div class="row">
	    	<div class="col col-50">
	      	<a href="#/app/estancia/{{id}}" class="button button-outline button-positive ripple ripple-green button-block" >
	        	Anterior
	      	</a>
	    	</div>
	  		<div class="col col-50">
	      	<button type="submit" ng-click="guardar()" class=" button button-positive ripple ripple-light button-block" >
	        	Guardar
	      	</button>
	    	</div>
	  	</div>
  	</form>

		<br><br><br>
	</ion-content>

	<!--<div class="popup-menu">
		<div class="popup-menu-overlay" ng-class="{'in': menu_is_open}" ng-click="togglePopupMenu()"></div>
		<i class="ion ion-grid popup-menu-toggle" ng-click="togglePopupMenu()" ng-class="{'out': menu_is_open}"></i>
		<div class="popup-menu-panel" ng-class="{'in': menu_is_open}">
			<a class="popup-menu-item ripple ripple-green" href="#/app/general" ng-click="togglePopupMenu()">
				<i class="ion ion-information-circled"></i>
				<span>General</span>
			</a>
			<a class="popup-menu-item ripple ripple-green" href="#/app/estancia" ng-click="togglePopupMenu()">
				<i class="ion ion-clock"></i>
				<span>Estancia</span>
			</a>
			<a class="popup-menu-item ripple ripple-green" href="#/app/transporte" ng-click="togglePopupMenu()">
				<i class="ion ion-model-s"></i>
				<span>Transporte</span>
			</a>
			<a class="popup-menu-item ripple ripple-green" href="#/app/grupo" ng-click="togglePopupMenu()">
				<i class="ion ion-ios-people"></i>
				<span>Grupo</span>
			</a>
			<a class="popup-menu-item ripple ripple-green" href="#/app/gastos" ng-click="togglePopupMenu()">
				<i class="ion-cash"></i>
				<span>Gastos</span>
			</a>
			<a class="popup-menu-item ripple ripple-green" href="#/app/percepcion" ng-click="togglePopupMenu()">
				<i class="ion ion-person-add"></i>
				<span>Percepción</span>
			</a>
			<a class="popup-menu-item ripple ripple-green" href="#/app/enteran" ng-click="togglePopupMenu();">
				<i class="ion ion-speakerphone"></i>
				<span>Redes e internet</span>
			</a>
		</div>
	</div>-->

	<div class="progress-container">
		<round-progress
		max="100"
		current="33"
		color="#16469e"
		bgcolor="#c9cdff"
		radius="10"
		stroke="1"
		semi="false"
		rounded="false"
		clockwise="true"
		responsive="true"
		duration="800"
		animation="easeInOutQuart"
		animation-delay="2">
		</round-progress>
		<div class="progress-text">
			<span class="progress-percent">33%</span>
		</div>
	</div>
</ion-view>
