/* Empty. Add your own CSS if you like */

body{
    /*overscroll-behavior:auto;
    */

}
.scroll{
    height:100%;
}
.select-content.scroll-content {
    margin-top: 0px;
    padding-top: 0px; 
    margin-bottom: 0px;   
}

/*Accorddion*/
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block ;
}

.item-accordion.item{
	padding:0px;
}

/*end Accordion*/

/*selects-modals*/

.linked-modal{
	z-index: -1;
}
/*end selects-modals*/


.popup-menu-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 6;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    background-image: -webkit-linear-gradient(rgba(68, 68, 68, 0.5) 0%, rgba(68, 68, 68, 0.25) 100%);
    background-image: linear-gradient(rgba(68, 68, 68, 0.5) 0%, rgba(68, 68, 68, 0.25) 100%);
}
.popup-menu-overlay.in {
    opacity: 1;
    visibility: visible;
}
.popup-menu-toggle {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    left: 50%;
    margin-left: -20px;
    background-color: #16469e;
    border: 1px solid #16469e;
    z-index: 7;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    border-radius: 50%;
    border: 0.5px solid white;
}
.popup-menu-toggle:before {
    position: absolute;
    content: '\f13f';
    font-family: "Ionicons";
    width: 40px;
    height: 40px;
    top: 0px;
    left: 0px;
    line-height: 40px;
    text-align: center;
    font-size: 28px;
    color: white;
    opacity: 1;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.popup-menu-toggle.out {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.popup-menu-toggle.out:before {
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.popup-menu-panel {
    position: fixed;
    width: 300px;
    height: 200px;
    bottom: 20px;
    left: 50%;
    margin-left: -150px;
    padding: 0px 5px;
    background-color: #387ef5;
    z-index: 8;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}


.popup-menu-panel .popup-menu-item {
    margin: auto;
    -webkit-box-flex: 1 0 30%;
    -webkit-flex: 1 0 30%;
    -moz-box-flex: 1 0 30%;
    -moz-flex: 1 0 30%;
    -ms-flex: 1 0 30%;
    flex: 1 0 30%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    text-decoration: none;|
}
.popup-menu-panel .popup-menu-item i {
    margin: auto 0px 5px 0px;
    padding: 0px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #16469e;
}
.popup-menu-panel .popup-menu-item span {
    padding: 0px;
    margin: 0px 0px auto 0px;
    color: #16469e;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 11px;
}
.popup-menu-panel .popup-menu-item:active i {
    color: gold;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}
.popup-menu-panel .popup-menu-item:active span {
    color: gold;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}
.popup-menu-panel.in {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.popup-menu-panel.in .popup-menu-item {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

/*End popup menu*/

/*date-pickers*/
.date{
	background: #f5f5f5;
	border:none;
}

.dates{
	border: none;
}
/*end date-pickers*/

/*custom columns*/
.genero{
	float: left;
	width: 50%;
	border:none;
}

.column-30{
    float: left;
    width: 30%;
    border:none;
}
.column-40{
    float: left;
    width: 40%;
    border:none;
}
.column-50{
	float: left;
	width: 50%;
	border:none;
}

.column-60{
    float: left;
    width: 60%;
    border:none;
}
.column-70{
    float: left;
    width: 70%;
    border:none;
}

/*end custom columns*/

/*Container progress*/
.progress-container{
    width: 40px;
    height: 40px;
    margin: auto;
    bottom: 20px;
    position: absolute;
    /* left: 0; */
    right: 20px;
}

.progress-text{
    position: relative;
}
.progress-percent{
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
    margin: auto;
    font-size: 12px;
    color:#8e8c8c;
}

.menu-bar {
    position: relative;
    padding: 32px 32px 0;
    margin-bottom: 1px;
}

.menu-bar .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.item-content, .item h2, .item h3{

    white-space: normal;
 }

 .item h2,.item h3 {
    font-weight:900; 
}


.situr-header{
    background-color: #16469e;
    color: white;
}
.situr-header-error{
    background-color: #ef473a;
}

.situr-header h2, .situr-header-error h2{
    color: white;
}
.required:before{
    content: "*";
    font-size: 38px;
    float: right;
    font-weight: 900;
    color: red;
    top: 50%;
    position: absolute;
    right: 10px;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #16469e;
    border-color: #16469e;
}

.bar-custom{
    background: #16469e !important;
    color:white !important;
    border-color:#16469e !important;

}
.micon-right{
    float: right;
}

.item-complex a{
    padding-left: 35px !important;
}
.sidemenu-div-item-0 > .item-complex a{
    padding-left: 16px !important;
}


.botonF1{
  width:52px;
  height:52px;
  border-radius:50%;
  right:0;
  bottom:0;
  color:#FFF;
  font-size:20px;
 
  
}

.fixed-action-btn{
    margin: 15px;
    position: fixed;
    z-index: 30;
    float: left;
}

.fixed-action-btn a{
    float: left;
}

.col{
    white-space: normal;
}


.header-side{
    height:120px;
    background: rgba(22,70,158,1);
    background: -moz-linear-gradient(top, rgba(22,70,158,1) 0%, rgba(113,145,201,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(22,70,158,1)), color-stop(100%, rgba(113,145,201,1)));
    background: -webkit-linear-gradient(top, rgba(22,70,158,1) 0%, rgba(113,145,201,1) 100%);
    background: -o-linear-gradient(top, rgba(22,70,158,1) 0%, rgba(113,145,201,1) 100%);
    background: -ms-linear-gradient(top, rgba(22,70,158,1) 0%, rgba(113,145,201,1) 100%);
    background: linear-gradient(to bottom, rgba(22,70,158,1) 0%, rgba(113,145,201,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16469e', endColorstr='#7191c9', GradientType=0 );
    position: relative; 
}

 .has-header-side{
    top:120px;
 }

 .header-side .icon-container {
    top: 43%;
    position: absolute;
    color: white;
    left: 12px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 5px;
    border: 2px solid white;
    border-radius: 50%;
    background: blue;
 }

 .header-side i {
    font-size: 33px;
 }

 .name-user{
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 65px;
    font-weight: 900;
 }

 .role-user {
    position: absolute;
    top: 62%;
    font-size: 12px;
    font-weight: 100;
    font-style: oblique;
    color: white;
    left: 65px;
 }

.micon-left, .micon-right{
    color:#16469e;
}


.row-table .col{
    background:#16469e; 
    color:white;
    font-weight: 900;
    margin-bottom: 7px;
}
.row-table .col:first-child{
    border-top-left-radius:2px;
}
.row-table .col:last-child{
    border-top-right-radius:2px; 
}

.row-table-col .col{
    border-bottom: 1px solid #eee;
    text-align: center;
}
/*.sidemenu-div-item-0 span, .sidemenu-div-item-1 span{
    color:blue;
}*/
.title{
    color:white;
}

.tabs-custom.tabs-striped .tabs{
    background-color:#16469e; 
    color:white;
}
.tabs-custom.tabs-striped .tabs .tab-item .active{
    border-color: #F44336;
}

.tabs-striped .tabs {
    border: none;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
    margin-top: -2px;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #F44336;
}
.card-no-shadow{
    box-shadow: none !important;
}

.item-select-block{
    width: 100%;
    height: 48px;
}

.pull-right{
    text-align: end;
}

.active-card{
    border-top:2px solid #16469e; 
}

.inactive-card{
    border-top:2px solid #ef473a;   
}
hr{
    border-color: #fff;
}

.bar-custom button{
    color: white !important;
    background-color: transparent !important;
    
}
 .validated{
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 25px;
    color: red;
    font-weight: 900
 }

.radio-content .item-content{
    min-height: 50px;
}

.pane{
  background:#f4f4f7;
}

.item-input input{
  background: transparent;
}

.ion-badges-grand{
    line-height: 30px ;
}

.errors{
    text-overflow: initial;
    white-space: normal;
}

.ion-datetime-picker .calendar .day.disabled, .ion-datetime-picker .calendar .day.disabled:hover, .ion-datetime-picker .calendar .day.disabled.activated {
    background-color: #eee !important;
    color: #aaa;
}

.btn-error{
    margin-left: 10px;
    text-decoration: none;
    padding: 2px;
    float: left;
    width: 100%;

}